<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Claims</title>

    <script>

        function processEvent(evt) {
            processFiles(evt.target.files);

        }

        function processFiles(files) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {

                if (files.length == 0)
                    return;


                if (files.length > 1) {
                    alert('Please Upload only one file at a time');
                    return;
                }

                $('#file_upload').prop('files', files);
                $('#docType').modal('show');

            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        }

    

    function drop_handler(ev) {
 debugger;
console.log("Drop");
var scope = angular.element(document.getElementById("file_upload")).scope();
ev.preventDefault();
var files =ev.dataTransfer.files;
processFiles(ev.dataTransfer.files);

}

 function fileCheck(files) {
        debugger;
        console.log("Drop");
        var scope = angular.element(document.getElementById("file_upload")).scope();
        processFiles(files);
    }

    function dragover_handler(ev) {
        console.log("dragOver");
        ev.preventDefault();
    }
    </script>
    <style>
    
  @media(min-width :768px){
   .navbar-nav > li {
   box-sizing: border-box !important;
   width:9.5% !important;

   float: left;
   }

} 
    </style>


</head>
<fieldset class="AIGCMain">
<div id="body" ng-cloak class="container-fluid" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ng-init="defaultTabIndex=1;">
    <div ng-show="alertModal" class="alert" style="display :block" role="alert" ng-class="{success:success,error:error,warning:warning}">
        <button type="button" class="close never_disable" ng-click="alertModal=false;error=false;success=false;warning=false;" aria-label="Close">
            <span aria-hidden="true">&nbsp;&times;</span>
        </button>
        <strong>{{errCode}}</strong> {{errDesc}}
        <br>
        <a ng-show="alertModalError" data-toggle="collapse" data-target="#demo">
            <strong>
                <u>Error Details</u>
            </strong>
        </a>
        <div ng-show="alertModalError" id="demo" class="collapse">
            <textarea style="width: 100%;" readonly rows="5" cols="50">{{errDtls}}</textarea>
        </div>
    </div>

    <nav class="navbar navbar-default top-nav">
        <div class="navbar-header">

            <button type="button" id="backNavigate" class="btn btn-info navbar-btn never_disable" ng-show="currentPage">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>

            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn never_disable">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
            <!-- <img src="" id="logo" style="width:100px;height:80px;padding:5px;margin-left: 15px; border:0px solid black; border-radius:5px;"
                /> -->

            <a href="#" id="infoCollapse" class="navbar-toggle" style="margin-top:15px;">
                <!-- <span class="glyphicon glyphicon-tasks"></span> -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div id="myNavbar">

                <ul class="block">
                    <div class="box" title="{{claimSummary.CLAIMNUMBER}}">
                        <p class="box-content">
                            <b title="Claim Number">Claim Number</b>
                            <br>{{claimSummary.CLAIMNUMBER}}
                        </p>
                    </div>

                    <div ng-class="{'green-back' : claimSummary.CLAIMSTATUS == 'Open', 'red-back' : claimSummary.CLAIMSTATUS != 'Open', box : true}"
                        class="box" title="{{claimSummary.CLAIMSTATUS}}">
                        <p class="box-content">
                            <b title="Claim Status">Claim Status</b>
                            <br>{{claimSummary.CLAIMSTATUS}}

                            <span ng-if="claimSummary.CLAIMSTATUS == 'Closed'"> 
                                <a data-toggle="modal" href="#claimReopenModel" data-ng-click="!ExternalDashBoardSP?getReopenReasons():angular.noop()">Reopen</a>
                            </span>
                        </p>

                    </div>
                    <div class="box" title="{{claimSummary.CLAIMNUMBER}}">
                        <p class="box-content" ng-click="getPolicyDetails('Policy')">
                            <b title="Policy Number">Policy Number</b>
                            <br>
                            <span ng-if="claimSummary.POLICYNUMBER">
                                {{claimSummary.POLICYNUMBER}}
                            </span>

                            <span ng-if="!claimSummary.POLICYNUMBER">
                                <a href="#" data-toggle="modal" data-target="#linkPolicyModal" ng-hide="tagClaim!='' || (claimSummary.ISORPHANCLAIM=='true' && canLink != 'true')">Link Policy</a>
                            </span>
                        </p>

                    </div>

                    <div class="box" title="{{claimSummary.FEATURENUMBER}}">
                        <p class="box-content">
                            <b title="Feature Number">Feature Number</b>
                            <br>{{claimSummary.FEATURENUMBER}}
                        </p>

                    </div>
                    <div class="box" title="{{litigationArray[litigationArray.length - 1].PETITIONERNAME}}">
                        <p class="box-content">
                            <b title="Claimant Name">Claimant Name</b>
                            <br>{{litigationArray[litigationArray.length - 1].PETITIONERNAME}}
                            <!-- {{claimSummary.CLAIMANTNAME}} -->
                        </p>

                    </div>

                    <div class="box" title="{{claimSummary.DATEOFLOSS | date}}">
                        <p class="box-content">
                            <b title="Date Of Loss">Date Of Loss</b>
                            <br>{{claimSummary.DATEOFLOSS | date}}
                        </p>
                    </div>

                    <div class="box" ng-click="!ExternalDashBoardSP?GetExaminer('ExaminerModal'):angular.noop()">
                        <p class="box-content" title="{{examinerFullName}}">
                            <b title="Examiner Name">Examiner Name</b>
                            <br>{{examinerFullName}}
                        </p>
                    </div>
                    <div class="box" ng-click="!ExternalDashBoardSP?GetSettlingOffice():angular.noop()">
                        <p class="box-content" title="{{claimSummary.SETTLINGOFFICE}}">
                            <b>Settling Office</b>
                            <br>{{claimSummary.SETTLINGOFFICE}}
                        </p>
                    </div>

                    <!-- <div class="box" title="{{claimSummary.SETTLINGOFFICE}}">
                        <p class="box-content">
                            <b title="Settling Office">Settling Office</b>
                            <br>{{claimSummary.SETTLINGOFFICE}}
                        </p>
                    </div> -->


                </ul>

                <ul class="block">
                    <div ng-class="{'green-back-first' : claimSummary.POLICYSTATUS == 'Active',
                                                                'red-back-first' : claimSummary.POLICYSTATUS != 'Active', box2 : true}"
                        title="{{claimSummary.POLICYSTATUS}}">
                        <p class="box-content">
                            <b title="Policy Status">Policy Status</b>
                            <br>{{claimSummary.POLICYSTATUS}}
                        </p>

                    </div>

                    <div class="box2" ng-class="{'green-back' : claimSummary.CBCSTATUS == 'CONFIRMED',
                                                                'red-back' : claimSummary.CBCSTATUS != 'CONFIRMED' , 'normal-back' : claimSummary.CBCSTATUS == '' }"
                        title="{{claimSummary.CBCSTATUS}}">
                        <p class="box-content" ng-click="getPolicyDetails( 'CBC')">
                            <b title="CBC Status">CBC Status</b>
                            <br>{{claimSummary.CBCSTATUS}}
                        </p>

                    </div>

                    <div class="box2" ng-class="{'green-back' : claimSummary.CLOSEPROXIMITY > 14,
                                    'red-back' : claimSummary.CLOSEPROXIMITY <=14, 'normal-back' :  claimSummary.CLOSEPROXIMITY == ''}"
                        title="{{!!claimSummary.CLOSEPROXIMITY ? (claimSummary.CLOSEPROXIMITY > 14 ? 'No' : 'Yes') : ''}}">
                        <p class="box-content">
                            <b title="Close Proximity">Close Proximity</B>
                            <br>{{!!claimSummary.CLOSEPROXIMITY ? (claimSummary.CLOSEPROXIMITY > 14 ? 'No' : 'Yes') : ''}}
                        </p>

                    </div>
                    <div class="box2" title="{{claimSummary.VEHICLEREGISTRATIONNUMBER}}">
                        <p class="box-content">
                            <b title="Vehicle Registration Number">Vehicle Registration Number</b>
                            <br>{{claimSummary.VEHICLEREGISTRATIONNUMBER}}
                        </p>
                    </div>
                    <div class="box2">
                        <p class="box-content" title="{{claimSummary.PREINSPECTION}}">
                            <b title="Pre-Inspection">Pre-Inspection</b>
                            <br>
                            <span ng-show="claimSummary.PREINSPECTION != 'Yes'" title="No">No</span>
                            <span ng-show="claimSummary.PREINSPECTION == 'Yes'" title="{{claimSummary.PREINSPECTION}}">
                                <a ng-click="getPreinspection()">{{claimSummary.PREINSPECTION}}</a>
                            </span>
                        </p>
                    </div>

                    <div class="box2" title="{{claimSummary.INJURYTYPE}}">
                        <p class="box-content">
                            <b title="Type Of Injury">Type Of Injury</b>
                            <br>{{claimSummary.INJURYTYPE}}
                        </p>

                    </div>
                    <div class="box2" title="{{claimSummary.RESERVE}}">
                        <p class="box-content">
                            <b title="Outstanding Reserve">Outstanding Reserve</b>
                            <br>{{claimSummary.RESERVE}}
                        </p>

                    </div>
                    <div class="box2" title="{{litigation.CASETITLE}}">
                        <p class="box-content">
                            <b title="Case Title">Case Title</b>
                            <br>{{litigation.CASETITLE}}
                        </p>

                    </div>

                </ul>
            </div>

        </div>
    </nav>

    <nav id="sidebar" class="inactive">

        <a href="javascript:void(0)" class="closebtn" id="navClose">&times;</a>
        <div class="vertical-menu">
            <div ng-repeat="tab in leftTabs">
                <a href="#" class="tabLinks" ng-click="openTab(tab.id, $index)" ng-class="{'active': $index==defaultTabIndex}" ng-hide="(checkpaclaimantdata== true && tab.id =='claimantdetails' && ExternalDashBoardSP == false) || (ExternalDashBoardSP == true && (tab.id !='fnol' && tab.id !='claimProcessing' && tab.id !='ProcessSettlement'))"
                    class="override"> {{tab.name}}</a>
            </div>
        </div>
    </nav>

    <nav id="documentBar" class="inactive ">
        <a href="javascript:void(0)" class="closebtn2 never_disable" id="documentClose">&times;</a>

        <div id="docSection">
            <h5>
                <b>Documents Required</b>
            </h5>

            <input type="file" id="file_upload"  class="hidden-input never_disable" accept="{{allowedFileTypes}}" onchange="fileCheck(this.files)" />

            <button type="button" class="btn btn-default btn-sm browse-button SP_Enable" onclick="document.getElementById('file_upload').click()"
                id="uploadLabel1">
                <span class="glyphicon glyphicon-upload"></span> Browse
            </button>
            <div class="clt">
                <ul ng-repeat="docType in documentTypeList">
                    <li ng-if="((loginUser == 'Lawyer' && (docType.name == 'Cheque Deposit Receipt' || docType.name == 'Petition' || docType.name == 'WS Draft' || docType.name == 'Amended WS' || docType.name == 'FIR' || docType.name == 'Charge Sheet' || docType.name == 'PMR')) || loginUser != 'Lawyer')">
                        <a href="#" ng-click="showDocs(docType.id)">{{docType.name}}</a>
                        <span id="docType.id" class="docs-count">
                            {{documentInfo[docType.id]['FileCount']}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="currentDocs">
            <h5 style="margin-left:10px;">
                <b> {{currentDocName}}</b>
            </h5>
            <ul ng-repeat="singleDocInfo in documentInfo[currentDocTypeId].FileMetaData track by $index">
                <li>
                    <!-- <span ng-click="removeDoc($index)">
                            <button type="button" class="close remove-doc">&times;</button>
                        </span> -->

                    <a href="#" ng-click="showFiles($index)">{{singleDocInfo.FileName}}</a>

                    <ul class="file-details">
                        <li>
                            <strong>Uploaded By:</strong>
                            {{singleDocInfo.UploadedBy}}
                        </li>
                        <li>
                            <strong>Uploaded On:</strong>
                            {{singleDocInfo.UploadedOn | date : 'dd-MM-yyyy hh:mm:ss a'}}
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </nav>

    <nav id="infoBar" class="inactive">

        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content">
                <b>Claim Number</b>
                <br>{{claimSummary.CLAIMNUMBER}}
            </p>

        </div>

        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content">
                <b>Claim Status</b>
                <br>{{claimSummary.CLAIMSTATUS}}

                <span ng-if="claimSummary.CLAIMSTATUS == 'Closed'"> 
                    <a data-toggle="modal" href="#claimReopenModel">Reopen</a>
                </span>
            </p>

        </div>
        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content" ng-click="getPolicyDetails('Policy')">
                <b>Policy Number</b>
                <br>
                <div ng-if="claimSummary.POLICYNUMBER" ng-click="getPolicyDetails('Policy')">
                    {{claimSummary.POLICYNUMBER}}
                </div>

                <div ng-if="!claimSummary.POLICYNUMBER">
                    <a href="#" data-toggle="modal" data-target="#linkPolicyModal" ng-hide="tagClaim!='' || (claimSummary.ISORPHANCLAIM=='true' && canLink != 'true')">Link Policy</a>
                </div>

            </p>
        </div>

        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content">
                <b>Feature Number</b>
                <br>{{claimSummary.FEATURENUMBER}}
            </p>

        </div>
        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content">
                <b>Claimant Name</b>
                <br>{{litigationArray[litigationArray.length - 1].PETITIONERNAME}}
            </p>

        </div>

        <div class="info-div" style="background-color:#dceef7">
            <p class="box-content">
                <b>DOL</b>
                <br>{{claimSummary.DATEOFLOSS | date}}
            </p>
        </div>

        <div class="info-div" style="background-color:#dceef7" ng-click="GetExaminer('ExaminerModal')">
            <p class="box-content">
                <b>Examiner Name</b>
                <br>{{examinerFullName}}
            </p>
        </div>
        <div class="info-div" style="background-color:#dceef7" ng-click="GetSettlingOffice()">
            <p class="box-content" title="{{claimSummary.SETTLINGOFFICE}}">
                <b>Settling Office</b>
                <br>{{claimSummary.SETTLINGOFFICE}}
            </p>
        </div>
        <div class="info-div" ng-class="{'green-back' : claimSummary.CBCSTATUS == 'CONFIRMED',
            'red-back' : claimSummary.CBCSTATUS != 'CONFIRMED'}">
            <p class="box-content">
                <b>Policy Status</b>
                <br>{{claimSummary.POLICYSTATUS}}
            </p>
        </div>

        <div class="info-div" ng-class="{'green-back' : claimSummary.CBCSTATUS == 'CONFIRMED',
            'red-back' : claimSummary.CBCSTATUS != 'CONFIRMED' , 'normal-back' : claimSummary.CBCSTATUS == '' }">
            <p class="box-content" ng-click="getPolicyDetails( 'CBC')">
                <b>CBC Status</b>
                <br>{{claimSummary.CBCSTATUS}}
            </p>

        </div>
        <div class="info-div" ng-class="{'green-back' : claimSummary.CLOSEPROXIMITY > 14,
                        'red-back' : claimSummary.CLOSEPROXIMITY <= 14}">
            <p class="box-content" title="{{!!claimSummary.CLOSEPROXIMITY ? (claimSummary.CLOSEPROXIMITY > 14 ? 'No' : 'Yes') : ''}}">
                <b>Close Proximity</B>
                <br>
                <span ng-if="claimSummary.CLOSEPROXIMITY">
                    {{!!claimSummary.CLOSEPROXIMITY ? (claimSummary.CLOSEPROXIMITY > 14 ? 'No' : 'Yes') : ''}}
                </span>
            </p>
        </div>

        <!-- <div class="info-div" ng-class="{'green-back' : claimSummary.CLOSEPROXIMITY == 'No',
            'red-back' : claimSummary.CLOSEPROXIMITY == 'Yes', 'normal-back' :  claimSummary.CLOSEPROXIMITY == ''}">
            <p class="box-content">
                <b>Close Proximity</B>
                <br>{{claimSummary.CLOSEPROXIMITY}}
            </p>
        </div> -->

        <!-- <div class="info-div" ng-class="{'green-back' : claimSummary.NCB == 'Yes',
            'red-back' : claimSummary.NCB != 'Yes', 'normal-back' :  claimSummary.NCB == '' }">
            <p class="box-content" ng-click="getPolicyDetails( 'NCB')">
                <b>NCB</b>
                <br>{{claimSummary.NCB}}
            </p>
        </div> -->

        <div class="info-div">
            <p class="box-content" style="background-color:#dceef7">
                <b>Pre-Inspection</b>
                <br>
                <span ng-show="claimSummary.PREINSPECTION != 'Yes'">No</span>
                <span ng-show="claimSummary.PREINSPECTION == 'Yes'">
                    <a ng-click="getPreinspection()">{{claimSummary.PREINSPECTION}}</a>
                </span>
            </p>

        </div>
        <div class="info-div">
            <p class="box-content" style="background-color:#dceef7">
                <b>Type Of Injury</b>
                <br>{{claimSummary.INJURYTYPE}}
            </p>

        </div>
        <div class="info-div">
            <p class="box-content" style="background-color:#dceef7">
                <b>Outstanding Reserve</b>
                <br>{{claimSummary.RESERVE}}
            </p>
        </div>
        <div class="info-div">
            <p class="box-content" style="background-color:#dceef7">
                <b>Case Title</b>
                <br>{{litigation.CASETITLE}}
            </p>
        </div>
        <div class="info-div">
            <p class="box-content" style="background-color:#dceef7">
                <b>Vehicle Registration Number</b>
                <br>{{claimSummary.VEHICLEREGISTRATIONNUMBER}}
            </p>
        </div>

    </nav>

    <button id="docsButton" type="button" class="btn normal-button never_disable" ng-click="getAllDocs()">
        <!-- <span class="glyphicon glyphicon-plus-sign"></span> Documents -->
        <img src="" id="docsimage" style="width:30px;height: 30px;" />
    </button>
    <div id="content">

        <div class="container-fluid">

            <div class="parent-content style-4">
                <div id="actualContent" class="col-sm-12 main-content">
                    <div id='fnol' ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==0}">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#fnolRegistration">First Notification Of Loss</a>
                            </li>
                            <li>
                                <a data-toggle="tab" ng-hide="ExternalDashBoardSP == true" data-ng-click="getCoverages()" href="#resAndCov">Reserve</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="fnolRegistration" class="tab-pane fade in active">
                                <div ng-include="fnolRegistrationURL">

                                </div>
                            </div>
                            <div id="resAndCov" class="tab-pane fade">
                                <div ng-include="resAndCovURL">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='claimProcessing' ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==1}">


                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab"  href="#claimDetails">Claim Details</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#surveyorAppointmnet">Surveyor Appointment</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#reportSubmission">Report submission</a>
                            </li>
                        </ul>


                        <div class="tab-content">

                            <div id="claimDetails" class="tab-pane fade in active">
                                <div ng-include="claimDetailsURL">

                                </div>
                            </div>
                            <div id="surveyorAppointmnet" class="tab-pane fade">
                                <div ng-include="surveyorAppointmnetURL">

                                </div>
                            </div>
                            <div id="reportSubmission" class="tab-pane fade">
                                <div ng-include="reportSubmissionURL">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='assessmentSheet' ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==2}">
                        <div ng-include="MBDURL" ng-if="claimSummary.SECTIONCODE == 'MBD'">

                        </div>
                        <div ng-include="BAPURL" ng-if="claimSummary.SECTIONCODE == 'BAP'">

                        </div>
                        <div ng-include="PNSBURL" ng-if="claimSummary.SECTIONCODE == 'PNSB'">

                        </div>
                        <div ng-include="EEIURL" ng-if="claimSummary.SECTIONCODE == 'EEI'">

                        </div>
                        <div ng-include="FGURL" ng-if="claimSummary.SECTIONCODE == 'FG'">

                        </div>
                        <div ng-include="MTURL" ng-if="claimSummary.SECTIONCODE == 'MONEY'">

                        </div>
                        <div ng-include="BURGLARYURL" ng-if="claimSummary.SECTIONCODE == 'BURGLARY'">

                        </div>
                        <div ng-include="BAGGAGEURL" ng-if="claimSummary.SECTIONCODE == 'BAGGAGE'">

                        </div>
                        <div ng-include="BPPURL" ng-if="claimSummary.SECTIONCODE == 'BPP'">

                        </div>
                        <div ng-include="FLOPURL" ng-if="claimSummary.SECTIONCODE == 'FLOP'">

                        </div>
                        <div ng-include="PLURL" ng-if="claimSummary.SECTIONCODE == 'PL'">

                        </div>
                        <div ng-include="FIREURL" ng-if="claimSummary.SECTIONCODE == 'FIRE'">

                        </div>
                    </div>
                    <div id='payment' ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==3}" >
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab"  href="#claimApproval">Claim Approval</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#indemnityPayment">Indemnity payment</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#expensePayment">Expense payment</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="claimApproval" class="tab-pane fade in active">
                                <div ng-include="claimApprovalURL">

                                </div>
                            </div>
                            <div id="indemnityPayment" class="tab-pane fade">
                                <div ng-include="indemnityPaymentURL">

                                </div>
                            </div>
                            <div id="expensePayment" class="tab-pane fade">
                                <div ng-include="expensePaymentURL">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='communication' class="tabcontent" ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==4}">

                    </div>
                    <div id='recovery' class="tabcontent" ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==5}">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab"  href="#recovery">Recovery</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#litigation">Litigation</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="recovery" class="tab-pane fade in active">
                                <div ng-include="recoveryURL">

                                </div>
                            </div>
                            <div id="litigation" class="tab-pane fade">
                                <div ng-include="litigationURL">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='summary' class="tabcontent" ng-class="{'tabcontent' : true,'display-content' : defaultTabIndex==6}">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab"  href="#claimSummary">Claim Summary</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#riSummary">RI Summary</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#coInsuranceSummary">Co Insurance Summary</a>
                            </li>
                            <li>
                                <a data-toggle="tab"  href="#claimHistory">Claim History</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div id="claimSummary" class="tab-pane fade in active">
                                <div ng-include="claimSummaryURL">

                                </div>
                            </div>
                            <div id="riSummary" class="tab-pane fade">
                                <div ng-include="riSummaryURL">

                                </div>
                            </div>
                            <div id="coInsuranceSummary" class="tab-pane fade">
                                <div ng-include="coInsuranceSummaryURL">

                                </div>
                            </div>
                            <div id="claimHistory" class="tab-pane fade">
                                <div ng-include="claimHistoryURL">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="docsContainer" class="col-sm-6 document-container invisible">

                    <a onclick="adjustClasses(false)" class="glyphicon">&#xe088;</a>

                    <iframe id="documentPreviewer"></iframe>
                </div>

            </div>


        </div>

    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="footer" style="margin: 0px;padding: 0px;">
    <center>
        <ol class="breadcrumb">
            <li ng-click="getFooterData('CLAIMFLAG')"> <a href="#">Feature</a></li>
            <li ng-click="getFooterData('CLAIMHISTORY')"> <a href="#">Document Checklist</a></li>
            <li ng-click="getFooterData('POLICYDETAILS')"><a href="#">Notes</a></li>
            <li ng-click="getFooterData('NOTES')"> <a href="#">Referrals</a></li>
            <li ng-click="getFooterData('BSI')"> <a href="#">Coverages</a></li>
            <li ng-click="getFooterData('TRANSACTION')"> <a href="#">Document</a></li>
            <li ng-click="getFooterData('INWARDDETAILS')"><a href="#">Transaction</a></li>
            <li ng-click="getFooterData('COMMUNICATIONSENT')"><a href="#">F.N.O.L</a></li>
            <li ng-click="getFooterData('DOCUMENTS')"> <a href="#">KYC</a></li>
            <li ng-click="getFooterData('PROVIDERDETAILS')"><a href="#">Red Flag</a></li>
            <li ng-click="getFooterData('INWARDDETAILS')"><a href="#">CKYC</a></li>
            <li ng-click="getFooterData('COMMUNICATIONSENT')"><a href="#">Policy Details</a></li>
        </ol>
    </center>
</nav>

<div id="cover">
    <div class="loader">

    </div>
</div>
</fieldset>
<script type="text/javascript">

    $(document).ready(function () {

        console.log('JQuery loaded and ready');

        $("#logo").attr('src', getImageFileURL('LOGO'));
        $("#docsimage").attr('src', getImageFileURL('google_docs'));

        $("#fnolRegistration").load(getHTMLFileURL('FnolRegistration'));
        $("#resAndCov").load(getHTMLFileURL('reserve'));
        $("#serviceProvider").load(getHTMLFileURL('serviceProvider'));
        


    });

    

    $('#infoCollapse').on('click', function () {

        $('#sidebar').addClass('inactive');
        $('#content').removeClass('shift-left');


        if ($('#documentBar').hasClass('inactive')) {
            $('#content').toggleClass('shift-right');
            $('#infoBar').toggleClass('inactive');
        } else {
            $('#documentBar').addClass('inactive');
            $('#content').addClass('shift-right');
            $('#infoBar').removeClass('inactive');
        }
    });

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('inactive');
        $('#content').toggleClass('shift-left');

        $('#infoBar').addClass('inactive');
        $('#documentBar').addClass('inactive');
        $('#content').removeClass('shift-right');
    });

    $('#docsButton').on('click', function () {

        $('#sidebar').addClass('inactive');
        $('#content').removeClass('shift-left');


        if ($('#infoBar').hasClass('inactive')) {
            $('#content').toggleClass('shift-right');
            $('#documentBar').toggleClass('inactive');


        } else {
            $('#infoBar').addClass('inactive');
            $('#content').addClass('shift-right');
            $('#documentBar').removeClass('inactive');
        }


        // $('#documentBar').toggleClass('inactive');
        // $('#content').toggleClass('shift-right');
        // $('#content').removeClass('shift-left');
        // $('#sidebar').addClass('inactive');

    });

    $('#docsButton').on('dragenter', function () {
        $('#documentBar').toggleClass('inactive');
    });

    $('#documentClose').on('click', function () {
        $('#documentBar').toggleClass('inactive');
        $('#content').toggleClass('shift-right');
        $("#sidebar").addClass("inactive");
    });

    $('#navClose').on('click', function () {
        $('#sidebar').toggleClass('inactive');
        $('#content').toggleClass('shift-left');
    });

    function adjustClasses(toOpen) {

        if (toOpen) {

            $('#docsContainer').removeClass('invisible');
            $('#actualContent').removeClass('col-sm-12');
            $('#actualContent').addClass('col-sm-6');
            $('#documentBar').toggleClass('inactive');
            $('#content').toggleClass('shift-right');
        } else {
            $('#docsContainer').addClass('invisible');
            $('#actualContent').addClass('col-sm-12');
            $('#actualContent').removeClass('col-sm-6');
        }
    }

</script>
