<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.BAGGAGEFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.BAGGAGEFORM.submitted }"
                        ng-model="BAGGAGE.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAGGAGEFORM.submitted  || form.BAGGAGEFORM.transactionType.$touched) && form.BAGGAGEFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="BAGGAGE.ISINVOICERAISEDINFAVOFTATAAIG">
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAGGAGEFORM.submitted  || form.BAGGAGEFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.BAGGAGEFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="BAGGAGE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber" ng-class="{'submitted':form.BAGGAGEFORM.submitted }"
                        ng-model="BAGGAGE.TATAAIGGSTNUMBER" ng-required="BAGGAGE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BAGGAGE.TATAAIGGSTNUMBER,BAGGAGE.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAGGAGEFORM.submitted  || form.BAGGAGEFORM.tataAigGstNumber.$touched) && form.BAGGAGEFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="BAGGAGE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber" ng-class="{'submitted':form.BAGGAGEFORM.submitted }"
                        ng-model="BAGGAGE.PAYEEGSTNUMBER" ng-required="BAGGAGE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BAGGAGE.TATAAIGGSTNUMBER,BAGGAGE.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAGGAGEFORM.submitted  || form.BAGGAGEFORM.payeeGstNumber.$touched) && form.BAGGAGEFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.BAGGAGEFORM.submitted }"
                        ng-model="BAGGAGE.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAGGAGEFORM.submitted  || form.BAGGAGEFORM.reInstPreApp.$touched) && form.BAGGAGEFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="BAGGAGE.GROSSASSESSEDLOSS"  maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="BAGGAGE.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="BAGGAGE.SGST" disabled
                        for-number ng-value="sameState ? BAGGAGE.SGST = BAGGAGE.GROSSASSESSEDLOSS * BAGGAGE.TAXRATE * 0.005 : BAGGAGE.SGST =0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="BAGGAGE.CGST" disabled
                        for-number ng-value="sameState ? BAGGAGE.CGST = BAGGAGE.GROSSASSESSEDLOSS * BAGGAGE.TAXRATE * 0.005 : BAGGAGE.CGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="BAGGAGE.IGST" disabled
                        for-number ng-value="sameState ? BAGGAGE.IGST = 0 : BAGGAGE.IGST = BAGGAGE.GROSSASSESSEDLOSS * BAGGAGE.TAXRATE * 0.01">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessRecovery">Less Recovery</label>
                <div>
                    <input type="number" name="lessRecovery" class="form-control input-normal" for-number
                        ng-model="BAGGAGE.LESSRECOVERY" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="BAGGAGE.NETASSESSEDLOSS" disabled
                        ng-value="BAGGAGE.NETASSESSEDLOSS = BAGGAGE.GROSSASSESSEDLOSS + BAGGAGE.SGST + BAGGAGE.CGST + BAGGAGE.IGST - 
                        BAGGAGE.LESSRECOVERY">
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="BAGGAGE.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="BAGGAGE.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="BAGGAGE.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="BAGGAGE.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="BAGGAGE.AMOUNTPAYABLE" maxlength="10" ng-value="BAGGAGE.AMOUNTPAYABLE = BAGGAGE.GROSSASSESSEDLOSS + BAGGAGE.SGST + BAGGAGE.CGST + BAGGAGE.IGST - 
                        BAGGAGE.LESSRECOVERY - BAGGAGE.LESSINTERIMPAYMENTS - BAGGAGE.LESSEXCESS - BAGGAGE.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(BAGGAGE,'BAGGAGE',BAGGAGE.BAGGAGEASSESSMENTID,form.BAGGAGEFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>