<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.BAPFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.BAPFORM.submitted }"
                        ng-model="BAP.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAPFORM.submitted  || form.BAPFORM.transactionType.$touched) && form.BAPFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="BAP.ISINVOICERAISEDINFAVOFTATAAIG" >
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAPFORM.submitted  || form.BAPFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.BAPFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="BAP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber" ng-class="{'submitted':form.BAPFORM.submitted }"
                        ng-model="BAP.TATAAIGGSTNUMBER" ng-required="BAP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BAP.TATAAIGGSTNUMBER,BAP.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAPFORM.submitted  || form.BAPFORM.tataAigGstNumber.$touched) && form.BAPFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="BAP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber" ng-class="{'submitted':form.BAPFORM.submitted }"
                        ng-model="BAP.PAYEEGSTNUMBER" ng-required="BAP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BAP.TATAAIGGSTNUMBER,BAP.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAPFORM.submitted  || form.BAPFORM.payeeGstNumber.$touched) && form.BAPFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp"
                        ng-model="BAP.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BAPFORM.submitted  || form.BAPFORM.reInstPreApp.$touched) && form.BAPFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="labourCharges">Labour charges</label>
                <div>
                    <input type="number" name="labourCharges" class="form-control input-normal" for-number
                        ng-model="BAP.LABOURCHARGES" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="rrCost">Repair/replacement cost of equipment</label>
                <div>
                    <input type="number" name="rrCost" class="form-control input-normal" for-number
                        ng-model="BAP.RRCOSTOFEQUIPMENT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="BAP.GROSSASSESSEDLOSS" disabled maxlength="10"
                        ng-value="BAP.GROSSASSESSEDLOSS =BAP.LABOURCHARGES + BAP.RRCOSTOFEQUIPMENT">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="BAP.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="BAP.SGST" disabled
                        for-number ng-value="sameState ? BAP.SGST = BAP.GROSSASSESSEDLOSS * BAP.TAXRATE * 0.005 : BAP.SGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="BAP.CGST" disabled
                        for-number ng-value="sameState ? BAP.CGST = BAP.GROSSASSESSEDLOSS * BAP.TAXRATE * 0.005 :  BAP.CGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="BAP.IGST" disabled
                        for-number ng-value="sameState ? BAP.IGST= 0 : BAP.IGST = BAP.GROSSASSESSEDLOSS * BAP.TAXRATE * 0.01">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessImprovements">Less improvements</label>
                <div>
                    <input type="number" name="lessImprovements" class="form-control input-normal" for-number
                        ng-model="BAP.LESSIMPROVEMENTS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="BAP.LESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal" ng-model="BAP.LESSSALVAGE"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="BAP.UNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustments">Adjustments</label>
                <div>
                    <input type="number" name="adjustments" class="form-control input-normal" ng-model="BAP.ADJUSTMENTS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustmentDetails">Adjustment details</label>
                <div>
                    <input type="text" name="adjustmentDetails" class="form-control input-normal" maxlength="200"
                        ng-model="BAP.ADJUSTMENTDETAILS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="BAP.NETASSESSEDLOSS" disabled
                        ng-value="BAP.NETASSESSEDLOSS = BAP.LABOURCHARGES + BAP.RRCOSTOFEQUIPMENT + BAP.SGST + BAP.CGST + BAP.IGST - 
                        BAP.LESSIMPROVEMENTS - BAP.LESSDEPRECIATION - BAP.LESSSALVAGE - BAP.UNDERINSURANCE - BAP.ADJUSTMENTS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="BAP.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="BAP.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="BAP.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="BAP.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="BAP.AMOUNTPAYABLE" maxlength="10" ng-value="BAP.AMOUNTPAYABLE = BAP.LABOURCHARGES + BAP.RRCOSTOFEQUIPMENT + BAP.SGST + BAP.CGST + BAP.IGST - 
                        BAP.LESSIMPROVEMENTS - BAP.LESSDEPRECIATION - BAP.LESSSALVAGE - BAP.UNDERINSURANCE - BAP.ADJUSTMENTS - BAP.LESSINTERIMPAYMENTS
                        -BAP.LESSEXCESS - BAP.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(BAP,'BAP',BAP.BAPASSESSMENTID,form.BAPFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>