<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.BPPFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.BPPFORM.submitted }"
                        ng-model="BPP.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.transactionType.$touched) && form.BPPFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="BPP.ISINVOICERAISEDINFAVOFTATAAIG" >
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.BPPFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="BPP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber" ng-class="{'submitted':form.BPPFORM.submitted }"
                        ng-model="BPP.TATAAIGGSTNUMBER" ng-required="BPP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BPP.TATAAIGGSTNUMBER,BPP.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.tataAigGstNumber.$touched) && form.BPPFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="BPP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber" ng-class="{'submitted':form.BPPFORM.submitted }"
                        ng-model="BPP.PAYEEGSTNUMBER" ng-required="BPP.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BPP.TATAAIGGSTNUMBER,BPP.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.payeeGstNumber.$touched) && form.BPPFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="indemnityType" required>Indemnity Type</label>
                <div>
                    <select name="indemnityType" class="form-control input-normal" ng-class="{'submitted':form.BPPFORM.submitted }"
                        id="indemnityType" ng-model="BPP.INDEMNITYTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Market Value">Market Value</option>
                        <option value="Re Instatement Value"> Re Instatement Value</option>
                        <option value="Agreed Value">Agreed Value</option>
                        <option value="First Loss Basis">First Loss Basis</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.indemnityType.$touched) && form.BPPFORM.indemnityType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid indemnity Type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.BPPFORM.submitted }"
                        ng-model="BPP.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BPPFORM.submitted  || form.BPPFORM.reInstPreApp.$touched) && form.BPPFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="boilerLoss">Boiler  Loss</label>
                <div>
                    <input type="number" name="boilerLoss" class="form-control input-normal" for-number
                        ng-model="BPP.BOILERLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="expressFreight">Express Freight</label>
                <div>
                    <input type="number" name="expressFreight" class="form-control input-normal" for-number
                        ng-model="BPP.EXPRESSFREIGHT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row"> 
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="ownersSurrounding">Owners Surrounding</label>
                <div>
                    <input type="number" name="ownersSurrounding" class="form-control input-normal" for-number
                        ng-model="BPP.OWNERSSURROUNDING" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="thirdParty">Third Party</label>
                <div>
                    <input type="number" name="thirdParty" class="form-control input-normal" for-number
                        ng-model="BPP.THIRDPARTY" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="addlCustomDuty">Addl Custom Duty</label>
                <div>
                    <input type="number" name="addlCustomDuty" class="form-control input-normal" for-number
                        ng-model="BPP.ADDLCUSTOMDUTY" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="BPP.GROSSASSESSEDLOSS" disabled maxlength="10"
                        ng-value="BPP.GROSSASSESSEDLOSS = BPP.BOILERLOSS + BPP.EXPRESSFREIGHT + 
                        BPP.OWNERSSURROUNDING + BPP.THIRDPARTY + BPP.ADDLCUSTOMDUTY">
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="BPP.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="BPP.SGST" disabled
                        for-number ng-value="sameState ? BPP.SGST = BPP.GROSSASSESSEDLOSS * BPP.TAXRATE * 0.005 : BPP.SGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="BPP.CGST" disabled
                        for-number ng-value="sameState ? BPP.CGST = BPP.GROSSASSESSEDLOSS * BPP.TAXRATE * 0.005 : BPP.CGST = 0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="BPP.IGST" disabled
                        for-number ng-value="sameState ? BPP.IGST = 0 : BPP.IGST = BPP.GROSSASSESSEDLOSS * BPP.TAXRATE * 0.01">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="improvementPerc">Improvement %</label>
                <div>
                    <input type="number" name="improvementPerc" class="form-control input-normal" for-number
                        ng-model="BPP.IMPROVEMENTPENCENT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessImprovements">Less improvements</label>
                <div>
                    <input type="number" name="lessImprovements" class="form-control input-normal" for-number disabled
                        ng-model="BPP.LESSIMPROVEMENTS" maxlength="10" ng-value="BPP.LESSIMPROVEMENTS =BPP.IMPROVEMENTPENCENT * BPP.GROSSASSESSEDLOSS *.01"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="BPP.LESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal" ng-model="BPP.LESSSALVAGE"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="BPP.UNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustments">Adjustments</label>
                <div>
                    <input type="number" name="adjustments" class="form-control input-normal" ng-model="BPP.ADJUSTMENTS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustmentDetails">Adjustment details</label>
                <div>
                    <input type="text" name="adjustmentDetails" class="form-control input-normal" maxlength="200"
                        ng-model="BPP.ADJUSTMENTDETAILS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="BPP.NETASSESSEDLOSS" disabled
                        ng-value="BPP.NETASSESSEDLOSS = BPP.BOILERLOSS + BPP.EXPRESSFREIGHT + 
                        BPP.OWNERSSURROUNDING + BPP.THIRDPARTY + BPP.ADDLCUSTOMDUTY + BPP.SGST + BPP.CGST + BPP.IGST -
                        BPP.LESSIMPROVEMENTS - BPP.LESSDEPRECIATION - BPP.LESSSALVAGE - BPP.UNDERINSURANCE - BPP.ADJUSTMENTS">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="BPP.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="BPP.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="BPP.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="BPP.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="BPP.AMOUNTPAYABLE" maxlength="10" ng-value="BPP.AMOUNTPAYABLE  = BPP.BOILERLOSS + BPP.EXPRESSFREIGHT + 
                        BPP.OWNERSSURROUNDING + BPP.THIRDPARTY + BPP.ADDLCUSTOMDUTY  + BPP.SGST + BPP.CGST + BPP.IGST - 
                        BPP.LESSIMPROVEMENTS - BPP.LESSDEPRECIATION - BPP.LESSSALVAGE - BPP.UNDERINSURANCE - BPP.ADJUSTMENTS - BPP.LESSINTERIMPAYMENTS
                        -BPP.LESSEXCESS - BPP.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(BPP,'BPP',BPP.BPPASSESSMENTID,form.BPPFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>