<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.BURGLARYFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.BURGLARYFORM.submitted }"
                        ng-model="BURGLARY.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BURGLARYFORM.submitted  || form.BURGLARYFORM.transactionType.$touched) && form.BURGLARYFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="BURGLARY.ISINVOICERAISEDINFAVOFTATAAIG">
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BURGLARYFORM.submitted  || form.BURGLARYFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.BURGLARYFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="BURGLARY.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber" ng-class="{'submitted':form.BURGLARYFORM.submitted }"
                        ng-model="BURGLARY.TATAAIGGSTNUMBER" ng-required="BURGLARY.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BURGLARY.TATAAIGGSTNUMBER,BURGLARY.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BURGLARYFORM.submitted  || form.BURGLARYFORM.tataAigGstNumber.$touched) && form.BURGLARYFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="BURGLARY.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber" ng-class="{'submitted':form.BURGLARYFORM.submitted }"
                        ng-model="BURGLARY.PAYEEGSTNUMBER" ng-required="BURGLARY.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(BURGLARY.TATAAIGGSTNUMBER,BURGLARY.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BURGLARYFORM.submitted  || form.BURGLARYFORM.payeeGstNumber.$touched) && form.BURGLARYFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.BURGLARYFORM.submitted }"
                        ng-model="BURGLARY.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.BURGLARYFORM.submitted  || form.BURGLARYFORM.reInstPreApp.$touched) && form.BURGLARYFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="Building">Building</label>
                <div>
                    <input type="number" name="Building" class="form-control input-normal" for-number
                        ng-model="BURGLARY.BUILDING" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="pAndM">P&M</label>
                <div>
                    <input type="number" name="pAndM" class="form-control input-normal" for-number
                        ng-model="BURGLARY.PANDM" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="Stock">Stock</label>
                <div>
                    <input type="number" name="Stock" class="form-control input-normal" for-number
                        ng-model="BURGLARY.STOCK" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="othersCost">Others cost</label>
                <div>
                    <input type="number" name="othersCost" class="form-control input-normal" for-number
                        ng-model="BURGLARY.OTHERCOST" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="BURGLARY.GROSSASSESSEDLOSS" disabled maxlength="10"
                        ng-value="BURGLARY.GROSSASSESSEDLOSS =BURGLARY.BUILDING + BURGLARY.PANDM + BURGLARY.STOCK + BURGLARY.OTHERCOST">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="BURGLARY.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="BURGLARY.SGST" disabled
                        for-number ng-value="sameState ? BURGLARY.SGST = BURGLARY.GROSSASSESSEDLOSS * BURGLARY.TAXRATE * 0.005 : BURGLARY.SGST =0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="BURGLARY.CGST" disabled
                        for-number ng-value="sameState ? BURGLARY.CGST = BURGLARY.GROSSASSESSEDLOSS * BURGLARY.TAXRATE * 0.005 : BURGLARY.CGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="BURGLARY.IGST" disabled
                        for-number ng-value="sameState ? BURGLARY.IGST =0 : BURGLARY.IGST = BURGLARY.GROSSASSESSEDLOSS * BURGLARY.TAXRATE * 0.01">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="BURGLARY.LESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="BURGLARY.LESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="BURGLARY.UNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustments">Adjustments</label>
                <div>
                    <input type="number" name="adjustments" class="form-control input-normal"
                        ng-model="BURGLARY.ADJUSTMENTS" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustmentDetails">Adjustment details</label>
                <div>
                    <input type="text" name="adjustmentDetails" class="form-control input-normal" maxlength="200"
                        ng-model="BURGLARY.ADJUSTMENTDETAILS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="BURGLARY.NETASSESSEDLOSS" disabled
                        ng-value="BURGLARY.NETASSESSEDLOSS = BURGLARY.BUILDING + BURGLARY.PANDM + BURGLARY.STOCK + BURGLARY.OTHERCOST + BURGLARY.SGST + BURGLARY.CGST + BURGLARY.IGST - 
                        BURGLARY.LESSIMPROVEMENTS - BURGLARY.LESSDEPRECIATION - BURGLARY.LESSSALVAGE - BURGLARY.UNDERINSURANCE - BURGLARY.ADJUSTMENTS">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="BURGLARY.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="BURGLARY.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="BURGLARY.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="BURGLARY.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="BURGLARY.AMOUNTPAYABLE" maxlength="10" ng-value="BURGLARY.AMOUNTPAYABLE = BURGLARY.BUILDING + BURGLARY.PANDM + BURGLARY.STOCK + BURGLARY.OTHERCOST + BURGLARY.SGST + BURGLARY.CGST + BURGLARY.IGST - 
                        BURGLARY.LESSIMPROVEMENTS - BURGLARY.LESSDEPRECIATION - BURGLARY.LESSSALVAGE - BURGLARY.UNDERINSURANCE - BURGLARY.ADJUSTMENTS - BURGLARY.LESSINTERIMPAYMENTS
                        -BURGLARY.LESSEXCESS - BURGLARY.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(BURGLARY,'BURGLARY',BURGLARY.BURGLARYASSESSMENTID,form.BURGLARYFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>