<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.EEIFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.EEIFORM.submitted }"
                        ng-model="EEI.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.transactionType.$touched) && form.EEIFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="EEI.ISINVOICERAISEDINFAVOFTATAAIG" >
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.EEIFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="EEI.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber" ng-class="{'submitted':form.EEIFORM.submitted }"
                        ng-model="EEI.TATAAIGGSTNUMBER" ng-required="EEI.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(EEI.TATAAIGGSTNUMBER,EEI.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.tataAigGstNumber.$touched) && form.EEIFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="EEI.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber" ng-class="{'submitted':form.EEIFORM.submitted }"
                        ng-model="EEI.PAYEEGSTNUMBER" ng-required="EEI.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'" ng-change="checkGstState(EEI.TATAAIGGSTNUMBER,EEI.PAYEEGSTNUMBER)">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.payeeGstNumber.$touched) && form.EEIFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="indemnityType" required>Indemnity Type</label>
                <div>
                    <select name="indemnityType" class="form-control input-normal" ng-class="{'submitted':form.EEIFORM.submitted }"
                        id="indemnityType" ng-model="EEI.INDEMNITYTYPE"  required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Market Value">Market Value</option>
                        <option value="Re Instatement Value"> Re Instatement Value</option>
                        <option value="Agreed Value">Agreed Value</option>
                        <option value="First Loss Basis">First Loss Basis</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.indemnityType.$touched) && form.EEIFORM.indemnityType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid indemnity Type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.EEIFORM.submitted }"
                        ng-model="EEI.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.EEIFORM.submitted  || form.EEIFORM.reInstPreApp.$touched) && form.EEIFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="eeiLoss">EEI Loss</label>
                <div>
                    <input type="number" name="eeiLoss" class="form-control input-normal" for-number
                        ng-model="EEI.EEILOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="externalDataMedia">External Data Media</label>
                <div>
                    <input type="number" name="externalDataMedia" class="form-control input-normal" for-number
                        ng-model="EEI.EXTERNALDATAMEDIA" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="icwIncreaseCostOfWorking">ICW - Increase Cost of Working</label>
                <div>
                    <input type="number" name="icwIncreaseCostOfWorking" class="form-control input-normal" for-number
                        ng-model="EEI.ICWINCREASECOSTOFWORKING" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="expressFreight">Express Freight</label>
                <div>
                    <input type="number" name="expressFreight" class="form-control input-normal" for-number
                        ng-model="EEI.EXPRESSFREIGHT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="ownersSurrounding">Owners Surrounding</label>
                <div>
                    <input type="number" name="ownersSurrounding" class="form-control input-normal" for-number
                        ng-model="EEI.OWNERSSURROUNDING" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="Equipment">Equipment</label>
                <div>
                    <input type="number" name="Equipment" class="form-control input-normal" for-number
                        ng-model="EEI.EQUIPMENT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="thirdParty">Third Party</label>
                <div>
                    <input type="number" name="thirdParty" class="form-control input-normal" for-number
                        ng-model="EEI.THIRDPARTY" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="addlCustomDuty">Addl Custom Duty</label>
                <div>
                    <input type="number" name="addlCustomDuty" class="form-control input-normal" for-number
                        ng-model="EEI.ADDLCUSTOMDUTY" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="EEI.GROSSASSESSEDLOSS" disabled maxlength="10"
                        ng-value="EEI.GROSSASSESSEDLOSS = EEI.EEILOSS + EEI.EXTERNALDATAMEDIA  + EEI.ICWINCREASECOSTOFWORKING + EEI.EXPRESSFREIGHT + 
                        EEI.OWNERSSURROUNDING + EEI.EQUIPMENT + EEI.THIRDPARTY + EEI.ADDLCUSTOMDUTY">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="EEI.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="EEI.SGST" disabled
                        for-number ng-value="sameState ? EEI.SGST = EEI.GROSSASSESSEDLOSS * EEI.TAXRATE * 0.005 : EEI.SGST = 0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="EEI.CGST" disabled
                        for-number ng-value="sameState ? EEI.CGST = EEI.GROSSASSESSEDLOSS * EEI.TAXRATE * 0.005 : EEI.CGST =0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="EEI.IGST" disabled
                        for-number ng-value="sameState ? EEI.IGST =0 : EEI.IGST = EEI.GROSSASSESSEDLOSS * EEI.TAXRATE * 0.01">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="improvementPerc">Improvement %</label>
                <div>
                    <input type="number" name="improvementPerc" class="form-control input-normal" for-number
                        ng-model="EEI.IMPROVEMENTPENCENT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessImprovements">Less improvements</label>
                <div>
                    <input type="number" name="lessImprovements" class="form-control input-normal" for-number disabled
                        ng-model="EEI.LESSIMPROVEMENTS" maxlength="10" ng-value="EEI.LESSIMPROVEMENTS =EEI.IMPROVEMENTPENCENT * EEI.GROSSASSESSEDLOSS *.01"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="EEI.LESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal" ng-model="EEI.LESSSALVAGE"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="EEI.UNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustments">Adjustments</label>
                <div>
                    <input type="number" name="adjustments" class="form-control input-normal" ng-model="EEI.ADJUSTMENTS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustmentDetails">Adjustment details</label>
                <div>
                    <input type="text" name="adjustmentDetails" class="form-control input-normal" maxlength="200"
                        ng-model="EEI.ADJUSTMENTDETAILS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="EEI.NETASSESSEDLOSS" disabled
                        ng-value="EEI.NETASSESSEDLOSS = EEI.EEILOSS + EEI.EXTERNALDATAMEDIA  + EEI.ICWINCREASECOSTOFWORKING + EEI.EXPRESSFREIGHT + 
                        EEI.OWNERSSURROUNDING + EEI.EQUIPMENT + EEI.THIRDPARTY + EEI.ADDLCUSTOMDUTY + EEI.SGST + EEI.CGST + EEI.IGST -
                        EEI.LESSIMPROVEMENTS - EEI.LESSDEPRECIATION - EEI.LESSSALVAGE - EEI.UNDERINSURANCE - EEI.ADJUSTMENTS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="EEI.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="EEI.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="EEI.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="EEI.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="EEI.AMOUNTPAYABLE" maxlength="10" ng-value="EEI.AMOUNTPAYABLE = EEI.EEILOSS + EEI.EXTERNALDATAMEDIA  + EEI.ICWINCREASECOSTOFWORKING + EEI.EXPRESSFREIGHT + 
                        EEI.OWNERSSURROUNDING + EEI.EQUIPMENT + EEI.THIRDPARTY + EEI.ADDLCUSTOMDUTY  + EEI.SGST + EEI.CGST + EEI.IGST - 
                        EEI.LESSIMPROVEMENTS - EEI.LESSDEPRECIATION - EEI.LESSSALVAGE - EEI.UNDERINSURANCE - EEI.ADJUSTMENTS - EEI.LESSINTERIMPAYMENTS
                        -EEI.LESSEXCESS - EEI.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(EEI,'EEI',EEI.EEIASSESSMENTID,form.EEIFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>