<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.FGFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.FGFORM.submitted }"
                        ng-model="FG.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FGFORM.submitted  || form.FGFORM.reInstPreApp.$touched) && form.FGFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="numberOfEmployees">Number of employees colluding in act</label>
                <div>
                    <input type="number" name="numberOfEmployees" class="form-control input-normal"
                        ng-model="FG.NUMBEROFEMPLOYEES"  maxlength="10" disabled
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="siPerPerson">SI per person</label>
                <div>
                    <input type="number" name="siPerPerson" class="form-control input-normal" for-number
                        ng-model="FG.SIPERPERSON" maxlength="10" disabled
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="aoaLimit">AOA limit</label>
                <div>
                    <input type="number" name="aoaLimit" class="form-control input-normal" ng-model="FG.AOALIMIT"
                        for-number maxlength="10" disabled
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.FGFORM.submitted }"
                        ng-model="FG.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FGFORM.submitted  || form.FGFORM.transactionType.$touched) && form.FGFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FG.GROSSASSESSEDLOSS"  maxlength="10" disabled
                        >
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessRecoveries">Less Recoveries from accquited employee's</label>
                <div>
                    <input type="number" name="lessRecoveries" class="form-control input-normal"
                        ng-model="FG.LESSRECOVERY" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="FG.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessOtherDeductions">Less other deductions</label>
                <div>
                    <input type="number" name="lessOtherDeductions" class="form-control input-normal" ng-model="FG.LESSOTHERDEDUCTION"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FG.NETASSESSEDLOSS" disabled
                        ng-value="FG.NETASSESSEDLOSS = FG.GROSSASSESSEDLOSS - FG.LESSRECOVERY - FG.LESSEXCESS - FG.LESSOTHERDEDUCTION">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="FG.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="FG.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="FG.LESSINTERIMPAYMENTS" disabled for-number>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="FG.AMOUNTPAYABLE" maxlength="10" ng-value="FG.AMOUNTPAYABLE =  FG.GROSSASSESSEDLOSS - FG.LESSRECOVERY - 
                        FG.LESSEXCESS - FG.LESSOTHERDEDUCTION -FG.LESSREINSTATEMENTPREMIUM - FG.LESSINTERIMPAYMENTS" disabled>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <a data-toggle="modal" href="#fraudDetailsModal">modal</a>
            </div>

        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(FG,'FG',FG.FGASSESSMENTID,form.FGFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>



<div id="fraudDetailsModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <div class="modal-title">
                    <h4>Fraud Details
                        <span class="glyphicon glyphicon-plus-sign" ng-click="addRow()"  role="button" tabindex="0"></span>
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered custom-table">
                        <thead class="custom-table-header">
                            <tr>
                                <th>#</th>
                                <th>Name of employee</th>
                                <th>Type of employment</th>
                                <th>Fraud commited</th>
                                <th>delete</th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="x in fraudData" ng-show="fraudData.length > 0">
                            <td><select class="form-control input-normal" ng-model="x.TYPE" required>
                                    <option value="Named">Named</option>
                                    <option value="Unnamed">Unnamed</option>
                                </select>
                            </td>
                            <td><input type="text" name="" class="form-control input-normal" ng-model="x.NAMEOFEMPLOYEE"
                                    maxlength="10"></td>
                            <td>
                                <input type="text" name="" class="form-control input-normal"
                                    ng-model="x.TYPEOFEMPLOYMENT" maxlength="10" ng-if="x.TYPE == 'Named'">
                                <select class="form-control input-normal" ng-model="x.TYPEOFEMPLOYMENT"
                                    ng-if="x.TYPE != 'Named'">
                                    <option value="Permanent">Permanent</option>
                                    <option value="Apprentice">Apprentice</option>
                                    <option value="Temporary">Temporary</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" name="fraudComited" class="form-control input-normal" for-number
                                    ng-model="x.FRAUDCOMMITED" maxlength="10"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                            </td>
                            <td>
                                <a href="#">delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button first-button" data-dismiss="modal" ng-click="calculateFruadAmount()">save</button>
            </div>
        </div>
    </div>
</div>