<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
        </div>
    </div>
    <form name="form.FIREFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType"
                        ng-model="FIRE.TRANSACTIONTYPE" ng-class="{'submitted':form.FIREFORM.submitted }" required >
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.transactionType.$touched) && form.FIREFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="isInvoiceRaisedInFavOfTataAig">Is invoice raised in favour of TATA AIG?</label>
                <div>
                    <select name="isInvoiceRaisedInFavOfTataAig" class="form-control input-normal"
                        id="isInvoiceRaisedInFavOfTataAig" ng-model="FIRE.ISINVOICERAISEDINFAVOFTATAAIG">
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.isInvoiceRaisedInFavOfTataAig.$touched) && form.FIREFORM.isInvoiceRaisedInFavOfTataAig.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid is invoice
                        raised in favour of TATA AIG
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="tataAigGstNumber" ng-required="FIRE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">TATA AIG GST
                    Number</label>
                <div>
                    <select name="tataAigGstNumber" class="form-control input-normal" id="tataAigGstNumber"
                        ng-model="FIRE.TATAAIGGSTNUMBER" ng-required="FIRE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'"
                        ng-change="checkGstState(FIRE.TATAAIGGSTNUMBER,FIRE.PAYEEGSTNUMBER)" ng-class="{'submitted':form.FIREFORM.submitted }">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.tataAigGstNumber.$touched) && form.FIREFORM.tataAigGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid tata aig gst
                        number

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="payeeGstNumber" ng-required="FIRE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'">Payee GST
                    Number</label>
                <div>
                    <select name="payeeGstNumber" class="form-control input-normal" id="payeeGstNumber"
                        ng-model="FIRE.PAYEEGSTNUMBER" ng-required="FIRE.ISINVOICERAISEDINFAVOFTATAAIG == 'YES'"
                        ng-change="checkGstState(FIRE.TATAAIGGSTNUMBER,FIRE.PAYEEGSTNUMBER)" ng-class="{'submitted':form.FIREFORM.submitted }">
                        <option value="" selected disabled>--select--</option>
                        <option ng-repeat="x in STATEGSTNUMBER">{{x.GSTREGISTRATIONNUMBER}}</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.payeeGstNumber.$touched) && form.FIREFORM.payeeGstNumber.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid payee gst
                        number

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="indemnityType">Indemnity Type</label>
                <div>
                    <select name="indemnityType" class="form-control input-normal" id="indemnityType" ng-class="{'submitted':form.FIREFORM.submitted}" 
                        ng-model="FIRE.INDEMNITYTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Market Value">Market Value</option>
                        <option value="Re Instatement Value"> Re Instatement Value</option>
                        <option value="Agreed Value">Agreed Value</option>
                        <option value="First Loss Basis">First Loss Basis</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.indemnityType.$touched) && form.FIREFORM.indemnityType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid indemnity
                        Type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.FIREFORM.submitted}"
                        ng-model="FIRE.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FIREFORM.submitted  || form.FIREFORM.reInstPreApp.$touched) && form.FIREFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Building</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.BUILDINGGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.BUILDINGLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.BUILDINGLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.BUILDINGUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.BUILDINGNETASSESSEDLOSS" disabled
                        ng-value="FIRE.BUILDINGNETASSESSEDLOSS =  FIRE.BUILDINGGROSSASSESSEDLOSS - FIRE.BUILDINGLESSDEPRECIATION - FIRE.BUILDINGLESSSALVAGE - FIRE.BUILDINGUNDERINSURANCE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Stock</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.STOCKGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.STOCKLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.STOCKLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.STOCKUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.STOCKNETASSESSEDLOSS" disabled
                        ng-value="FIRE.STOCKNETASSESSEDLOSS =  FIRE.STOCKGROSSASSESSEDLOSS - FIRE.STOCKLESSDEPRECIATION - FIRE.STOCKLESSSALVAGE - FIRE.STOCKUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Plant & Machinery</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.PLANTMACHINERYGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.PLANTMACHINERYLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.PLANTMACHINERYLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.PLANTMACHINERYUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.PLANTMACHINERYNETASSESSEDLOSS" disabled
                        ng-value="FIRE.PLANTMACHINERYNETASSESSEDLOSS =  FIRE.PLANTMACHINERYGROSSASSESSEDLOSS - FIRE.PLANTMACHINERYLESSDEPRECIATION - FIRE.PLANTMACHINERYLESSSALVAGE - FIRE.PLANTMACHINERYUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Plinth & Foundation</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.PLINTHFOUNDGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.PLINTHFOUNDLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.PLINTHFOUNDLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.PLINTHFOUNDUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.PLINTHFOUNDNETASSESSEDLOSS" disabled
                        ng-value="FIRE.PLINTHFOUNDNETASSESSEDLOSS =  FIRE.PLINTHFOUNDGROSSASSESSEDLOSS - FIRE.PLINTHFOUNDLESSDEPRECIATION - FIRE.PLINTHFOUNDLESSSALVAGE - FIRE.PLINTHFOUNDUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Compound Wall</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.COMPOUNDWALLGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.COMPOUNDWALLLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.COMPOUNDWALLLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.COMPOUNDWALLUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.COMPOUNDWALLNETASSESSEDLOSS" disabled
                        ng-value="FIRE.COMPOUNDWALLNETASSESSEDLOSS =  FIRE.COMPOUNDWALLGROSSASSESSEDLOSS - FIRE.COMPOUNDWALLLESSDEPRECIATION - FIRE.COMPOUNDWALLLESSSALVAGE - FIRE.COMPOUNDWALLUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Raw Material</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.RAWMATGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.RAWMATLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.RAWMATLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.RAWMATUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.RAWMATNETASSESSEDLOSS" disabled
                        ng-value="FIRE.RAWMATNETASSESSEDLOSS =  FIRE.RAWMATGROSSASSESSEDLOSS - FIRE.RAWMATLESSDEPRECIATION - FIRE.RAWMATLESSSALVAGE - FIRE.RAWMATUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Work In Progress</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.WORKINPROGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.WORKINPROLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.WORKINPROLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.WORKINPROUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.WORKINPRONETASSESSEDLOSS" disabled
                        ng-value="FIRE.WORKINPRONETASSESSEDLOSS =  FIRE.WORKINPROGROSSASSESSEDLOSS - FIRE.WORKINPROLESSDEPRECIATION - FIRE.WORKINPROLESSSALVAGE - FIRE.WORKINPROUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Finished Stock</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.FINISHSTOCKGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.FINISHSTOCKLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.FINISHSTOCKLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.FINISHSTOCKUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.FINISHSTOCKNETASSESSEDLOSS" disabled
                        ng-value="FIRE.FINISHSTOCKNETASSESSEDLOSS =  FIRE.FINISHSTOCKGROSSASSESSEDLOSS - FIRE.FINISHSTOCKLESSDEPRECIATION - FIRE.FINISHSTOCKLESSSALVAGE - FIRE.FINISHSTOCKUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>Furniture & Fixture</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.FFGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.FFLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.FFLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.FFUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.FFNETASSESSEDLOSS" disabled
                        ng-value="FIRE.FFNETASSESSEDLOSS =  FIRE.FFGROSSASSESSEDLOSS - FIRE.FFLESSDEPRECIATION - FIRE.FFLESSSALVAGE - FIRE.FFUNDERINSURANCE">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <span>Electrical Fittings</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.ELECTRICALFITGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.ELECTRICALFITLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.ELECTRICALFITLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.ELECTRICALFITUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.ELECTRICALFITNETASSESSEDLOSS" disabled
                        ng-value="FIRE.ELECTRICALFITNETASSESSEDLOSS =  FIRE.ELECTRICALFITGROSSASSESSEDLOSS - FIRE.ELECTRICALFITLESSDEPRECIATION - FIRE.ELECTRICALFITLESSSALVAGE - FIRE.ELECTRICALFITUNDERINSURANCE">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <span>Basement risk</span>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.BRISKGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.BRISKLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.BRISKLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.BRISKUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.BRISKNETASSESSEDLOSS" disabled
                        ng-value="FIRE.BRISKNETASSESSEDLOSS =  FIRE.BRISKGROSSASSESSEDLOSS - FIRE.BRISKLESSDEPRECIATION - FIRE.BRISKLESSSALVAGE - FIRE.BRISKUNDERINSURANCE">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <span>specify</span>
            <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="text" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.SPECIFIEDGROSSASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessDepreciation">Less Depreciation</label>
                <div>
                    <input type="number" name="lessDepreciation" class="form-control input-normal" for-number
                        ng-model="FIRE.SPECIFIEDLESSDEPRECIATION" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessSalvage">Less Salvage </label>
                <div>
                    <input type="number" name="lessSalvage" class="form-control input-normal"
                        ng-model="FIRE.SPECIFIEDLESSSALVAGE" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FIRE.SPECIFIEDUNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.SPECIFIEDNETASSESSEDLOSS" disabled
                        ng-value="FIRE.SPECIFIEDNETASSESSEDLOSS =  FIRE.SPECIFIEDGROSSASSESSEDLOSS - FIRE.SPECIFIEDLESSDEPRECIATION - FIRE.SPECIFIEDLESSSALVAGE - FIRE.SPECIFIEDUNDERINSURANCE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <span>overall</span>
            <hr />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="taxRate">Tax Rate</label>
                <div>
                    <select name="taxRate" class="form-control input-normal" ng-model="FIRE.TAXRATE">
                        <option value="0" selected>0</option>
                        <option ng-repeat="x in TAXRATE">{{x.RATE}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sgst">SGST/UGST</label>
                <div>
                    <input type="number" name="sgst" class="form-control input-normal" ng-model="FIRE.SGST" disabled
                        for-number ng-value="sameState ? FIRE.SGST = FIRE.GROSSASSESSEDLOSS * FIRE.TAXRATE * 0.005 : 0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="cgst">CGST</label>
                <div>
                    <input type="number" name="cgst" class="form-control input-normal" ng-model="FIRE.CGST" disabled
                        for-number ng-value="sameState ? FIRE.CGST = FIRE.GROSSASSESSEDLOSS * FIRE.TAXRATE * 0.005 : 0">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="igst">IGST</label>
                <div>
                    <input type="number" name="igst" class="form-control input-normal" ng-model="FIRE.IGST" disabled
                        for-number ng-value="sameState ? 0 : FIRE.IGST = FIRE.GROSSASSESSEDLOSS * FIRE.TAXRATE * 0.01">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="totalNetAssessedLoss">Total Net Assessed Loss</label>
                <div>
                    <input type="number" name="totalNetAssessedLoss" class="form-control input-normal"
                        ng-model="FIRE.TOTALNETASSESSEDLOSS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="policyExcess">Policy Excess</label>
                <div>
                    <input type="number" name="policyExcess" class="form-control input-normal"
                        ng-model="FIRE.LESSEXCESS" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessOther">Less Other</label>
                <div>
                    <input type="number" name="lessOther" class="form-control input-normal"
                        ng-model="FIRE.LESSOTHER" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessRiPremium">Less RI premium</label>
                <div>
                    <input type="number" name="lessRiPremium" class="form-control input-normal"
                        ng-model="FIRE.LESSRIPREMIUM" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessInterimPayment">Less Interim payment</label>
                <div>
                    <input type="number" name="lessInterimPayment" class="form-control input-normal"
                        ng-model="FIRE.LESSINTERIMPAYMENTS" maxlength="10"
                        >
                </div> 
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netPayable">Net payable</label>
                <div>
                    <input type="number" name="netPayable" class="form-control input-normal"
                        ng-model="FIRE.NETPAYABLE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="sIforDebris">SI for Debris</label>
                <div>
                    <input type="number" name="sIforDebris" class="form-control input-normal"
                        ng-model="FIRE.SIFORDEBRIS" maxlength="10" disabled
                        >
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="siForArchitectural">SI for Architectural / surveyor's fees </label>
                <div>
                    <input type="number" name="siForArchitectural" class="form-control input-normal"
                        ng-model="FIRE.SIFORARCHITECTURAL" maxlength="10"
                        >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="addDebrisRemoval">Add Debris removal</label>
                <div>
                    <input type="number" name="addDebrisRemoval" class="form-control input-normal"
                        ng-model="FIRE.ADDDEBRISREMOVAL" maxlength="10"
                        >
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="addArchitectural">Add architectural / surveyor's fees</label>
                <div>
                    <input type="number" name="addArchitectural" class="form-control input-normal"
                        ng-model="FIRE.ADDARCHITECTURAL" maxlength="10"
                        >
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="FIRE.AMOUNTPAYABLE" maxlength="10" disabled
                        >
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(FIRE,'FIRE',FIRE.FIREASSESSMENTID,form.FIREFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>