<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.FLOPFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.FLOPFORM.submitted }"
                        ng-model="FLOP.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FLOPFORM.submitted  || form.FLOPFORM.transactionType.$touched) && form.FLOPFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type
                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.FLOPFORM.submitted }"
                        ng-model="FLOP.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.FLOPFORM.submitted  || form.FLOPFORM.reInstPreApp.$touched) && form.FLOPFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossProfit">Gross profit</label>
                <div>
                    <input type="number" name="grossProfit" class="form-control input-normal" for-number
                        ng-model="FLOP.GROSSPROFIT" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="gpRatio ">GP ratio</label>
                <div>
                    <input type="number" name="gpRatio" class="form-control input-normal" for-number
                        ng-model="FLOP.GPRATIO" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lossDueToReductionInTurnover">Loss Due to reduction in turnover</label>
                <div>
                    <input type="number" name="lossDueToReductionInTurnover" class="form-control input-normal" for-number
                        ng-model="FLOP.LOSSDUETOTURNOVER" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="increaseCostOfWorking">Increase cost of working</label>
                <div>
                    <input type="number" name="increaseCostOfWorking" class="form-control input-normal" for-number
                        ng-model="FLOP.INCREASECOSTOFWORKING" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="auditorsFees">Auditors Fees</label>
                <div>
                    <input type="number" name="auditorsFees" class="form-control input-normal" for-number
                        ng-model="FLOP.AUDITORSFEES" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="professionalFees">Professional Fees</label>
                <div>
                    <input type="number" name="professionalFees" class="form-control input-normal" for-number
                        ng-model="FLOP.PROFESSIONALFEES" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="standingCharges">Standing charges</label>
                <div>
                    <input type="number" name="standingCharges" class="form-control input-normal" for-number
                        ng-model="FLOP.STANDINGCHARGES" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="grossAssessedLoss">Gross Assessed Loss</label>
                <div>
                    <input type="number" name="grossAssessedLoss" class="form-control input-normal"
                        ng-model="FLOP.GROSSASSESSEDLOSS"  maxlength="10"
                       >
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="underinsurance">Underinsurance</label>
                <div>
                    <input type="number" name="underinsurance" class="form-control input-normal" for-number
                        ng-model="FLOP.UNDERINSURANCE" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lossBeforeExcess">Loss Before Excess</label>
                <div>
                    <input type="number" name="lossBeforeExcess" class="form-control input-normal" ng-model="FLOP.LOSSBEFOREEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="FLOP.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustments">Adjustments</label>
                <div>
                    <input type="number" name="adjustments" class="form-control input-normal"
                        ng-model="FLOP.ADJUSTMENTS" for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="adjustmentDetails">Adjustment details</label>
                <div>
                    <input type="text" name="adjustmentDetails" class="form-control input-normal" maxlength="200"
                        ng-model="FLOP.ADJUSTMENTDETAILS">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="netAssessedLoss">Net Assessed Loss</label>
                <div>
                    <input type="number" name="netAssessedLoss" class="form-control input-normal"
                        ng-model="FLOP.NETASSESSEDLOSS" 
                        >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="LessInterimPayments">Less Interim Payments</label>
                <div>
                    <input type="number" name="LessInterimPayments" class="form-control input-normal"
                        ng-model="FLOP.LESSINTERIMPAYMENTS"  for-number>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="FLOP.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="FLOP.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="amountPayable">Amount Payable</label>
                <div>
                    <input type="number" name="amountPayable" class="form-control input-normal"
                        ng-model="FLOP.AMOUNTPAYABLE" maxlength="10"  >
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(FLOP,'FLOP',FLOP.FLOPASSESSMENTID,form.FLOPFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>