<div class="col-md-12">
    <div class="row">
        <div class="AssessmentHeader">
            {{claimSummary.SECTION}}
          </div>
    </div>
    <form name="form.PLFORM" class="clt">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="transactionType" required>Transaction Type</label>
                <div>
                    <select name="transactionType" class="form-control input-normal" id="transactionType" ng-class="{'submitted':form.PLFORM.submitted }"
                        ng-model="PL.TRANSACTIONTYPE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="Partial Payment">Partial Payment</option>
                        <option value="Final Payment">Final Payment</option>
                        <option value="Payment after closure">Payment after closure</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.PLFORM.submitted  || form.PLFORM.transactionType.$touched) && form.PLFORM.transactionType.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid transaction
                        type

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="reInstPreApp" required>Reinstatement premium applicable</label>
                <div>
                    <select name="reInstPreApp" class="form-control input-normal" id="reInstPreApp" ng-class="{'submitted':form.PLFORM.submitted }"
                        ng-model="PL.REINSTPREMIUMAPPLICABLE" required>
                        <option value="" selected disabled>--select--</option>
                        <option value="NO">No</option>
                        <option value="YES"> Yes</option>
                    </select>

                    <p class="text-error"
                        ng-show="(form.PLFORM.submitted  || form.PLFORM.reInstPreApp.$touched) && form.PLFORM.reInstPreApp.$invalid">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please select valid
                        reinstatement
                        premium applicable

                    </p>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="defenceCost">Defence Cost</label>
                <div>
                    <input type="number" name="defenceCost" class="form-control input-normal"
                        ng-model="PL.DEFENCECOST"  maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="medicalExpenses">Medical Expenses</label>
                <div>
                    <input type="number" name="medicalExpenses" class="form-control input-normal" for-number
                        ng-model="PL.MEDICALEXPENSES" maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="damages">Damages</label>
                <div>
                    <input type="number" name="damages" class="form-control input-normal" ng-model="PL.DAMAGES"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="otherCost">Other Cost</label>
                <div>
                    <input type="number" name="otherCost" class="form-control input-normal"
                        ng-model="PL.OTHERCOST"  for-number
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="totalIndemnityAmount">Total Indemnity Amount</label>
                <div>
                    <input type="number" name="totalIndemnityAmount" class="form-control input-normal"
                        ng-model="PL.NETASSESSEDLOSS" disabled
                        ng-value="PL.NETASSESSEDLOSS = PL.DEFENCECOST + PL.MEDICALEXPENSES + PL.DAMAGES + PL.OTHERCOST">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessReinstatementPremium">Less Reinstatement premium</label>
                <div>
                    <input type="number" name="lessReinstatementPremium" class="form-control input-normal"
                        ng-model="PL.LESSREINSTATEMENTPREMIUM" maxlength="10" ng-disabled="PL.REINSTPREMIUMAPPLICABLE =='NO'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="lessExcess">Less Excess</label>
                <div>
                    <input type="number" name="lessExcess" class="form-control input-normal" ng-model="PL.LESSEXCESS"
                        for-number maxlength="10"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);if(this.value != 0){ this.value = parseFloat(this.value)}else{this.value= 0}">
                </div>
            </div>
           
            <div class="form-group col-xs-12 col-sm-4 col-md-3">
                <label for="totalAmountPayable">Total Payable Amount</label>
                <div>
                    <input type="number" name="totalAmountPayable" class="form-control input-normal"
                        ng-model="PL.AMOUNTPAYABLE" maxlength="10" ng-value="PL.AMOUNTPAYABLE =  PL.DEFENCECOST + PL.MEDICALEXPENSES + PL.DAMAGES + PL.OTHERCOST -
                        PL.LESSEXCESS - PL.LESSREINSTATEMENTPREMIUM" disabled>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="common-button first-button  input-sm" disable-on-click
                    data-ng-click="saveAssessment(PL,'PL',PL.PLASSESSMENTID,form.PLFORM)">Save</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    Excel</button>
                <button type="button" class="common-button second-button  input-sm" disable-on-click
                    data-ng-click="">Print
                    PDF</button>
                <button type="button" class="common-button input-sm" disable-on-click data-ng-click="">Close</button>
            </div>
        </div>
</div>