<div class='clt'>
    <div class="col-md-12">
        <div class='pull-right'>
            <a ng-click="getApprovalHistoryData('RESERVE')">Reserve Approval History</a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered  custom-table">
                <thead class="custom-table-header">
                    <tr>
                        <th>Cover Name</th>
                        <th>Feature Number</th>
                        <th>Sum Insured</th>
                        <th>Indemnity Status</th>
                        <th>Indemnity Amount</th>
                        <th>Add Expense</th>
                        <th>Expense Status</th>
                        <th>Expense Amount</th>
                    </tr>
                </thead>
                <tr ng-show="!!reserveData">
                    <td>{{reserveData.COVERNAME}}</td>
                    <td>{{reserveData.FEATURENUMBER}}</td>
                    <td>{{reserveData.INSUREDAMOUNT}}</td>
                    <td>{{reserveData.INDEMNITYFEATURESTATUS}}</td>
                    <td><input type="text" name="indemnityAmount" class="form-control input-normal" id="indemnityAmount"
                            for-digit
                            ng-disabled="reserveData.INDEMNITYFEATURESTATUS =='SUSPENDED' || reserveData.EXPENSEFEATURESTATUS=='SUSPENDED'"
                            placeholder="eg :12345679" ng-model="reserveData.INDEMNITYRESERVEAMOUNT">
                    </td>
                    <td><label class="slight-margin-top">
                            <input type="checkbox" ng-model="ADDEXPENSE" ng-true-value="true" ng-false-value="false"
                                ng-value="!!reserveData.EXPENSEFEATURESTATUS ?ADDEXPENSE=true: ADDEXPENSE"
                                ng-disabled="!!reserveData.EXPENSEFEATURESTATUS"
                                ng-checked="!!reserveData.EXPENSEFEATURESTATUS">
                            <!-- span class="checkboxCheckmark"><span> --> 
                        </label>
                    </td>
                    <td>{{reserveData.EXPENSEFEATURESTATUS}}</td>
                    <td><input type="text" name="expenseAmount" class="form-control input-normal" id="expenseAmount"
                            ng-disabled="!ADDEXPENSE || reserveData.INDEMNITYFEATURESTATUS =='SUSPENDED' || reserveData.EXPENSEFEATURESTATUS=='SUSPENDED'"
                            for-digit placeholder="eg :12345679" ng-model="reserveData.EXPENSERESERVEAMOUNT"></td>
                </tr>
                <tr ng-show=" reserveData== undefined" class="text-center" aria-hidden="false">
                    <td colspan="8">No records found !!</td>
                </tr>
            </table>
        </div>
        <div class="row pull-right">
            <button class="common-button first-button"
                ng-disabled="reserveData.INDEMNITYFEATURESTATUS =='SUSPENDED' || reserveData.EXPENSEFEATURESTATUS=='SUSPENDED'"
                ng-click="saveReserveData()">save</button>
        </div>
    </div>


    <div id="ReserveApprovalHistoryModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg" role="dialog" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <div class="modal-title">
                        <h4>Reserve Approval History</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered  custom-table">
                            <thead class="custom-table-header">
                                <tr>
                                    <th>FEATURENUMBER</th>
                                    <th>FEATURESTATUS</th>
                                    <th>STATUS</th>
                                    <th>ACCOUNTLINE</th>
                                    <th>CREATEDBY</th>
                                    <th>CREATEDON</th>
                                    <th>APPROVEDBY</th>
                                    <th>APPROVEDON</th>
                                    <th>REASON</th>
                                    <th>AMOUNT</th>
                                    <th>SENDTO</th>
                                    <th>OWNER</th>
                                    <th>TEAMNAME</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="x in ReserveApprovalHistoryData"
                                ng-show="ReserveApprovalHistoryData.length > 0">
                                <td>{{x.FEATURENUMBER}}</td>
                                <td>{{x.FEATURESTATUS}}</td>
                                <td>{{x.STATUS}}</td>
                                <td>{{x.ACCOUNTLINE}}</td>
                                <td>{{x.CREATEDBY}}</td>
                                <td>{{x.CREATEDON | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{x.APPROVEDBY}}</td>
                                <td>{{x.APPROVEDON | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{x.REASON}}</td>
                                <td>{{x.AMOUNT}}</td>
                                <td>{{x.SENDTO}}</td>
                                <td>{{x.OWNER}}</td>
                                <td>{{x.TEAMNAME}}</td>
                            </tr>
                            <tr ng-show=" ReserveApprovalHistoryData== undefined || ReserveApprovalHistoryData.length == 0"
                                class="text-center" aria-hidden="false">
                                <td colspan="">No records found !!</td>
                            </tr>
                        </table>
                    </div>
                    <div class="paginaiton">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



</div>