
<form name="form.adjustorReportSubmissionForm" class="form-vertical">

        <div class="row">
            <div class="form-group col-md-3 col-sm-12">
                <label required>Type Of Adjusters</label>
                <div>
                    <select class="form-control input-sm" ng-disabled="AdjustorSubmissionEnd" name="ADJRPTTYPEOFADJUSTOR" ng-change="getUniqueAdjustorData()" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="adjustorReport.selectedAdjustorType" ng-options="item.ADJUSTORTYPE as item.ADJUSTORTYPE for item in pendingAdjustorForClaim | orderBy:'ADJUSTORTYPE' | unique:'ADJUSTORTYPE'"
                        required>
                        <option hidden value="" >---Select---</option>
                    </select>
                    <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTTYPEOFADJUSTOR.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTTYPEOFADJUSTOR.$touched && form.adjustorReportSubmissionForm.ADJRPTTYPEOFADJUSTOR.$invalid) ">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select type of adjusters</p>
                </div>
            </div>
    
            <div class="form-group col-md-3 col-sm-12">
                <label required>Name of Adjustor/Investigator</label>
                <div>
                    <select class="form-control input-sm"  ng-disabled="AdjustorSubmissionEnd" ng-change="SetAdjustorGstinNo()" ng-model="adjustorReport.selectedAdjustorName" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-options="item.NAME as item.NAME for item in pendingAdjustorForClaim | orderBy:'NAME' | filter : adjustorReport.selectedAdjustorType"
                        required name="ADJRPTNAMEOFADJUSTOR">
                        <option value="" hidden>---Select---</option>
                    </select>
                    <p class="text-error" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTNAMEOFADJUSTOR.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTNAMEOFADJUSTOR.$touched && form.adjustorReportSubmissionForm.ADJRPTNAMEOFADJUSTOR.$invalid) ">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select name of adjustor</p>
                </div>
            </div>
    
            <div class="form-group col-md-3 col-sm-12">
                <label required>Survey Type</label>
                <div>
                    <select class="form-control input-sm"  ng-disabled="AdjustorSubmissionEnd && singleAppointment" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" name="ADJRPTSURVEYTYPE" ng-model="adjustorReport.TYPEOFSURVEY" ng-options="item.ADJUSTORAPPOINTMENTID as item.TYPEOFSURVEY  for item in pendingAdjustorForClaim | orderBy: 'ADJUSTORAPPOINTMENTID' | filter : {ADJUSTORTYPE : adjustorReport.selectedAdjustorType, NAME : adjustorReport.selectedAdjustorName} | unique:'TYPEOFSURVEY' "
                        ng-change="updateAdjustorReportItems(adjustorReport.TYPEOFSURVEY)" required>
                        <option value="" hidden>---Select---</option>
                    </select>
                    <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTSURVEYTYPE.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTSURVEYTYPE.$touched && form.adjustorReportSubmissionForm.ADJRPTSURVEYTYPE.$invalid) ">
                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select survey type</p>
                </div>
            </div>
    
            <div class="form-group col-md-3 col-sm-12">
                <label required>Appointment Date</label>
                <!--  <div>
                    <input type="date" name="ADJRPTDATEOFAPPOINTMENT" class="form-control input-sm" ng-model="adjustorReport.DATEOFAPPOINTMENT" required ng-class="{submitted:form.adjustorReportSubmissionForm.submitted}">
                   
                </div> -->
                <div class="input-group date">
    
                    <input name="ADJRPTDATEOFAPPOINTMENT" type='text'  ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" class="form-control input-sm" date-picker for-date-calendar maxlength="10" ng-model="adjustorReport.DATEOFAPPOINTMENT"
                        required readonly />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTDATEOFAPPOINTMENT.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTDATEOFAPPOINTMENT.$touched && form.adjustorReportSubmissionForm.ADJRPTDATEOFAPPOINTMENT.$invalid) ">
                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select appointment Date</p>
            </div>
        </div>
        <div class="row sub-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#surveyReportDetails">Survey Report Details </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#declarationAndRecomm">Declaration and Recommendations</a>
                </li>
                <li>
                    <a data-toggle="tab"  ng-hide="AdjustorSubmissionEnd == true"  ng-class="{textColorRed :(form.adjustorReportSubmissionForm.PERFORMANCETEXT0.$invalid || form.adjustorReportSubmissionForm.PERFORMANCETEXT1.$invalid
                    || form.adjustorReportSubmissionForm.PERFORMANCETEXT2.$invalid || form.adjustorReportSubmissionForm.PERFORMANCETEXT3.$invalid
                    || form.adjustorReportSubmissionForm.PERFORMANCETEXT4.$invalid) && form.adjustorReportSubmissionForm.submitted}" href="#performance">Performance</a>
                </li>
            </ul>
            <fieldset ng-disabled="claimSummary.CLAIMSTATUS == 'Closed'">
                <fieldset ng-disabled="isReadOnly"> 
                    <div class="tab-content">
    
                        <div id="surveyReportDetails" class="tab-pane fade in active">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label required>Survey Date</label>
                                    <!--  <div>
                                    <input type="date" name="ADJRPTDATEOFSURVEY" class="form-control input-sm" ng-model="surveyReport.DATEOFSURVEY" required ng-class="{submitted:form.adjustorReportSubmissionForm.submitted}">
                                    
                                </div> -->
                                    <div class="input-group date">
    
                                        <input name="ADJRPTDATEOFSURVEY" id="DateOfSurveyOD" type='text' ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" class="form-control input-sm" which-date="lossDateNotFuture" date-picker for-date-calendar maxlength="10" ng-model="surveyReport.DATEOFSURVEY"
                                        required/>
                                        <span class="input-group-addon ">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$touched && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) ">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select survey date</p>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label>No. of Visit</label>
                                    <div>
                                        <input type="text" maxlength="3" for-digit class="form-control input-sm" ng-model="surveyReport.NUMBEROFVISIT">
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label ng-required="ReportSubmissionDays>30">Reason For Delayed Submission</label>
                                    <div>
                                        <input type="text" name="AdjRSDR" for-alpha-numeric class="form-control input-sm" ng-model="surveyReport.REASONFORDELAYSUBMISSION" maxlength="200"
                                        ng-required="ReportSubmissionDays>30">
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.AdjRSDR.$invalid) || (form.adjustorReportSubmissionForm.AdjRSDR.$touched && form.adjustorReportSubmissionForm.AdjRSDR.$invalid) ">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid reason for delayed submission</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12 envelop-align justify-self">
    
                                        <div class="form-check checkbox-primary-filled">
                                                    <label class="checkboxContainer">Reinspection Required
                                                        <input type="checkbox" ng-model="surveyReport.REINSPECTIONREQUIRED" ng-true-value="'true'" ng-false-value="'false'" ng-init="surveyReport.REINSPECTIONREQUIRED='false'"
                                                            name="Active" />
                                                        <span class="checkboxCheckmark" ></span>
                                                    </label>
                                                </div>
                                        
                                    <!-- <label>Reinspection Required</label>
                                    <div>
                                        <input type="text" class="form-control input-sm" ng-model="surveyReport.REINSPECTIONREQUIRED">
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label ng-required ="adjustorReport.selectedAdjustorType=='External'">Report No.</label>
                                    <div>
                                        <input type="text" for-alpha-numeric class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.REPORTNUMBER" ng-required ="adjustorReport.selectedAdjustorType=='External'">
                                        <!-- <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$touched && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) ">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter report number</p> -->
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label ng-required ="adjustorReport.selectedAdjustorType=='External'">Report Date</label>
                                <!--  <div>
                                        <input type="date" class="form-control input-sm" ng-model="surveyReport.REPORTDATE" ng-class="{submitted:form.adjustorReportSubmissionForm.submitted}"
                                            required>
                                        
                                    </div> -->
                                    <div class="input-group date">
                                            <input type='text' id="ReportedDateOD" class="form-control input-sm"  date-picker for-date-calendar which-date="ReportDate"  maxlength="10" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.REPORTDATE" ng-required ="adjustorReport.selectedAdjustorType=='External'"
                                            />
                                            <span class="input-group-addon ">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    <!-- <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$touched && form.adjustorReportSubmissionForm.ADJRPTDATEOFSURVEY.$invalid) ">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select report date</p> -->
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label>Date of Submission to the Office</label>
                                    <!-- <div>
                                        <input type="date" class="form-control input-sm" ng-model="surveyReport.DATEOFSUBMISSIONTOOFFICE">
                                    </div> -->
                                    <div class="input-group date">
                    
                                            <input type='text' id="DateofSubmissiontoTheOffice" class="form-control input-sm"  date-picker for-date-calendar which-date="ReportDatelossDate" maxlength="10" ng-model="surveyReport.DATEOFSUBMISSIONTOOFFICE"
                                            />
                                            <span class="input-group-addon ">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label>GSTIN No.</label>
                                    <div>
                                        <input type="text" name="GSTNO" maxlength="15" for-alpha-numeric-caps pattern="[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[0-9]{1}[Z]{1}[0-9A-Z]{1}" class="form-control input-sm" ng-model="surveyReport.GSTINNUMBER">
                                    </div>
                                    <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.GSTNO.$invalid) || (form.adjustorReportSubmissionForm.GSTNO.$touched && form.adjustorReportSubmissionForm.GSTNO.$invalid) ">
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid GST No.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" form-group col-md-3 col-sm-12">
                                    <label required>Settlement Type</label>
                                    <div>
                                        <select name="ADJRPTTYPEOFSETTLEMENT" class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.TYPEOFSETTLEMENT" required>
                                            <option value="" hidden>---Select---</option>
                                            <option value="Cash Loss Settlement">Cash Loss Settlement</option>
                                            <option value="CWP - Closed Without Payment">CWP - Closed Without Payment</option>
                                        <!--  <option value="Glass Damage Only">Glass Damage Only</option> -->
                                            <option value="Net of Salvage">Net of Salvage</option>
                                            <option value="Partial Loss">Repair Loss</option>
                                            <option value="Repudiation">Repudiation</option>
                                            <option value='{{lossDetails.SETTLEMENTTYPE ? lossDetails.SETTLEMENTTYPE : ""}}'>Settlement after Reopening of Claim</option>
                                            <option value="Theft of Parts/Accessories">Theft of Parts/Accessories</option>
                                            <option value="Theft of Vehicle">Theft of Vehicle (for theft Claims FIR is mandatory)</option>
                                            <option value="Total Loss/Constructive Total Loss">Total Loss/Constructive Total Loss</option>
                                            <option value="Repair of Glass/Fibre/Plastic">Repair of Glass/Fibre/Plastic</option>
                                            <option value="Windshield Replacement">Windshield Replacement</option>
                                        </select>
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.ADJRPTTYPEOFSETTLEMENT.$invalid) || (form.adjustorReportSubmissionForm.ADJRPTTYPEOFSETTLEMENT.$touched && form.adjustorReportSubmissionForm.ADJRPTTYPEOFSETTLEMENT.$invalid) ">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select settlement type</p>
                                    </div>
                                </div>
    
                                <div class="form-group col-md-3 col-sm-12">
                                    <label required>Vehicle No.</label>
                                    <div>
                                        <input type="text" name="VEHICLENUMBER" for-alpha-numeric class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.VEHICLENUMBER" required>
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.VEHICLENUMBER.$invalid) || (form.adjustorReportSubmissionForm.VEHICLENUMBER.$touched && form.adjustorReportSubmissionForm.VEHICLENUMBER.$invalid) ">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter Vehicle Number</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12" >
                                    <label required>Odometer Reading</label>
                                    <div>
                                        <input type="text" name="odometerReading" for-number maxlength="10"  class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.ODOMETERREADING" required>
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.odometerReading.$invalid) || (form.adjustorReportSubmissionForm.odometerReading.$touched && form.adjustorReportSubmissionForm.odometerReading.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter odometer reading</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12" ng-if="claimSummary.UBIPOLICY =='true'">
                                    <label required>Km Consumed</label>
                                    <div>
                                        <input type="text" name="kmconsumed" for-number maxlength="10"  class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="surveyReport.KMCONSUMED" required>
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.kmconsumed.$invalid) || (form.adjustorReportSubmissionForm.kmconsumed.$touched && form.adjustorReportSubmissionForm.kmconsumed.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter km consumed </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="claimSummary.UBIPOLICY =='true'">
                                <div class="form-group col-md-3 col-sm-12">
                                    <label required>Km Balanced</label>
                                    <div>
                                        <input type="text" name="kmbalance" for-number maxlength="10" class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }"
                                            ng-model="surveyReport.KMBALANCED" required>
                                        <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm.kmbalance.$invalid) || (form.adjustorReportSubmissionForm.kmbalance.$touched && form.adjustorReportSubmissionForm.kmbalance.$invalid)">
                                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter km balanced </p>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12 justify-self envelop-align">
                                    <div>
                                        <a href="https://taadmin.mycariq.com" target="_blank">CarIQ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="declarationAndRecomm" class="tab-pane fade">
                            <!--  <div class="form-group" >
                                <div class="row">
                                <input type="checkbox" class="input" ng-init="adjustorDeclaration[$index].DECLARED='false'" ng-true-value="'true'" ng-false-value="'false'" ng-model="adjustorDeclaration[$index].DECLARED"/>
                                <label>{{x.DECLARATIONTEXT}}</label>
                            </div>
                            </div> -->
    
                            <div class="form-group no-margin" ng-repeat="x in adjustorDeclarationText">
                                <div class="row">
                                    <div class=" form-group col-lg-12 col-md-12 col-sm-12">
                                    <label class="checkboxContainer">
                                        <input name="adjustorDeclaration{{$index}}" type="checkbox" ng-init="adjustorDeclaration[$index].DECLARED='false'" ng-true-value="'true'"
                                            ng-false-value="'false'" ng-model="adjustorDeclaration[$index].DECLARED" ng-true-value="'true'"
                                            ng-false-value="'false'" />
                                        <span class="checkboxCheckmark"></span>{{x.DECLARATIONTEXT}}
                                    </label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group left-right-padding">
                                <label for="recommendation">Recommendations :</label>
                                <textarea class="form-control input-sm" for-alpha-numeric maxlength="250" rows="4" cols="2" ng-model="surveyReport.RECOMMENDATIONS"></textarea>
                            </div>
                        </div>
                        <div id="performance" class="tab-pane fade">
                            <div class="form-group col-md-3 col-sm-12"  ng-repeat="x in adjustorPerformanceText" style="display:inline-block;height:65px;">
                                <label ng-required ="adjustorReport.selectedAdjustorType=='External'">{{x.PERFORMANCETEXT}}</label>
                                <div>
                                    <select name="PERFORMANCETEXT{{$index}}" class="form-control input-sm" ng-class="{'submitted':form.adjustorReportSubmissionForm.submitted }" ng-model="adjustorPerformance[$index].PERFORMANCEVALUE"
                                        ng-init="adjustorPerformance[$index].PERFORMANCEVALUE=''" ng-required ="adjustorReport.selectedAdjustorType=='External'">
                                        <option value="" >---Select---</option>
                                        <option value="1">1-Poor</option>
                                        <option value="2">2-Satisfactory</option>
                                        <option value="3">3-Good</option>
                                        <option value="4">4-Better</option>
                                        <option value="5">5-Best</option>
                                    </select>
                                    <p class="text-error" data-ng-show="(form.adjustorReportSubmissionForm.submitted && form.adjustorReportSubmissionForm['PERFORMANCETEXT'+$index].$invalid)|| (form.adjustorReportSubmissionForm['PERFORMANCETEXT'+$index].$touched && form.adjustorReportSubmissionForm['PERFORMANCETEXT'+$index].$invalid) "> 
                                        <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select rate of {{x.PERFORMANCETEXT}}</p> 
                                </div>
                            </div>
                        </div>
    
                    </div>
                </fieldset>
            </fieldset>
        </div>
    
    
        <div class="row slight-padding-top">
            <div class="col-md-12 ">
    
            <div class="btn-right">
                <button ng-click="AssessSheet($event,surveyReport.TYPEOFSETTLEMENT);" ng-disabled=" !surveyReport.TYPEOFSETTLEMENT || !adjustorReport.ADJREPORTSUBMISSIONID "
                    type="button" class="common-button first-button never_disable">Claim Assessment Sheet</button>
                <button type="button" ng-disabled="isReadOnly || claimSummary.CLAIMSTATUS == 'Closed' || !adjustorReport.selectedAdjustorType || !adjustorReport.selectedAdjustorName || !adjustorReport.TYPEOFSURVEY " ng-click="addAdjustorSubmissionDetails(true);" class="common-button first-button">Interim Save</button>
                <button type="button" ng-disabled="isReadOnly || AdjustorSubmissionEnd || claimSummary.CLAIMSTATUS == 'Closed' || !adjustorReport.selectedAdjustorType || !adjustorReport.selectedAdjustorName || !adjustorReport.TYPEOFSURVEY " ng-click="addAdjustorSubmissionDetails(false);" class="common-button second-button">Save</button>
                <button type="button" ng-disabled="isReadOnly" ng-click="clearAdjustorData()" class="common-button">Clear</button>
                
            </div>
            </div>
    
        </div>
    
        
    </form>
    
    
    
    <script>
        var scope = angular.element(document.getElementById("ReportedDateOD")).scope();
            $("#ReportedDateOD").on("click", function () {
                if (scope.surveyReport.DATEOFSURVEY != null && scope.surveyReport.DATEOFSURVEY  != undefined && scope.surveyReport.DATEOFSURVEY  != "")
                    $("#ReportedDateOD").data("DateTimePicker").minDate(scope.surveyReport.DATEOFSURVEY );
    
                if (scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != null && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != undefined && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != "") {
                    $("#ReportedDateOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSUBMISSIONTOOFFICE);
                }
            });
            $("#ReportedDateOD").parent().on("click", function () {
                if (scope.surveyReport.DATEOFSURVEY  != null && scope.surveyReport.DATEOFSURVEY  != undefined && scope.surveyReport.DATEOFSURVEY  != "") {
                    $("#ReportedDateOD").data("DateTimePicker").minDate(scope.surveyReport.DATEOFSURVEY ); 
                }
                if (scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != null && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != undefined && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != "") {
                    $("#ReportedDateOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSUBMISSIONTOOFFICE);
                }
            });
    
    
               $("#DateofSubmissiontoTheOffice").on("click", function () {
                if (scope.surveyReport.REPORTDATE != null && scope.surveyReport.REPORTDATE  != undefined && scope.surveyReport.REPORTDATE  != ""){
                    $("#DateofSubmissiontoTheOffice").data("DateTimePicker").minDate(scope.surveyReport.REPORTDATE );
                }else if (scope.surveyReport.DATEOFSURVEY != null && scope.surveyReport.DATEOFSURVEY != undefined && scope.surveyReport.DATEOFSURVEY != "")
                    $("#DateofSubmissiontoTheOffice").data("DateTimePicker").minDate(scope.surveyReport.DATEOFSURVEY);
                
            });
            $("#DateofSubmissiontoTheOffice").parent().on("click", function () {
                if (scope.surveyReport.REPORTDATE  != null && scope.surveyReport.REPORTDATE  != undefined && scope.surveyReport.REPORTDATE  != "") {
                    $("#DateofSubmissiontoTheOffice").data("DateTimePicker").minDate(scope.surveyReport.REPORTDATE );   
                }else if (scope.surveyReport.DATEOFSURVEY != null && scope.surveyReport.DATEOFSURVEY != undefined && scope.surveyReport.DATEOFSURVEY != "")
                    $("#DateofSubmissiontoTheOffice").data("DateTimePicker").minDate(scope.surveyReport.DATEOFSURVEY);
            });
    
    
             $("#DateOfSurveyOD").on("click", function () { 
    
                    if (scope.surveyReport.REPORTDATE != null && scope.surveyReport.REPORTDATE != undefined && scope.surveyReport.REPORTDATE != ""){
                        $("#DateOfSurveyOD").data("DateTimePicker").maxDate(scope.surveyReport.REPORTDATE);
                    }else if (scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != null && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != undefined && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != "") {
                        $("#DateOfSurveyOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSUBMISSIONTOOFFICE);
                    }
                });
                $("#DateOfSurveyOD").parent().on("click", function () {
                    if (scope.surveyReport.REPORTDATE != null && scope.surveyReport.REPORTDATE != undefined && scope.surveyReport.REPORTDATE != "") {
                        $("#DateOfSurveyOD").data("DateTimePicker").maxDate(scope.surveyReport.REPORTDATE);
                    } else if (scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != null && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != undefined && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != "") {
                        $("#DateOfSurveyOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSUBMISSIONTOOFFICE);
                    }
                });
    
    
                 /* $("#ReportedDateOD").on("click", function () {
                        if (scope.surveyReport.DATEOFSURVEY != null && scope.surveyReport.DATEOFSURVEY != undefined && scope.surveyReport.DATEOFSURVEY != "")
                            $("#ReportedDateOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSURVEY);
                    });
                    $("#ReportedDateOD").parent().on("click", function () {
                        if (scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != null && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != undefined && scope.surveyReport.DATEOFSUBMISSIONTOOFFICE != "") {
                            $("#ReportedDateOD").data("DateTimePicker").maxDate(scope.surveyReport.DATEOFSUBMISSIONTOOFFICE);
    
                        }
                    });  */
    
    
         
         
    </script>