 
<div class="col-md-12 slight-margin-bottom">
  
        <label class="radioContainer">
            <input type="radio" ng-model="ADJUSTORTYPE" name="adjustortype" value="Internal" ng-change="changeAdjustorType('Internal')"
                checked>Internal
            <span class="radioCheck"></span>
        </label>

        <label class="radioContainer">
            <input type="radio" ng-model="ADJUSTORTYPE" name="adjustortype" value="External" ng-change="changeAdjustorType('External')">External
            <span class="radioCheck"></span>
        </label>

        <label class="radioContainer">
            <input type="radio" ng-model="ADJUSTORTYPE" name="adjustortype" value="Others" ng-change="changeAdjustorType('Others')">Others
            <span class="radioCheck"></span>
        </label>
    </div>
    <div class="col-md-12">
        <div id="Internal" ng-show="showForm=='Internal'">
            <form name="form.InternalForm" autocomplete="off">
                <fieldset ng-disabled="claimSummary.CLAIMSTATUS == 'Closed'">
                        <fieldset ng-disabled="isReadOnly"> 
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label required>Name</label>
                        <div>
                            <input name="NAME" maxlength=50 ng-class="{'submitted':form.InternalForm.submitted}" type="text" class="form-control" ng-model="Internal.NAME" onkeyup="this.value=this.value.replace(/[^\w ]/,'')"
                                typeahead="nameItem.id as nameItem.AdjustorNameSearchOutput for nameItem in searchItems | filter:$viewValue | limitTo:10"
                                typeahead-on-select="onSelected($item, $model, $label,'AdjustorAppointmentInternal')" ng-keyup="updateItems('AdjustorAppointmentInternal')"
                                required/>
                            <p class="text-error" data-ng-show="(form.InternalForm.submitted && form.InternalForm.NAME.$invalid) || (form.InternalForm.NAME.$touched && form.InternalForm.NAME.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid name</p>
                        </div>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label required>Type of Survey</label>
                        <div>
                            <select name="TYPEOFSURVEY" class="form-control" ng-class="{'submitted':form.InternalForm.submitted}" ng-model="Internal.TYPEOFSURVEY" ng-options="item as item for item in adjustorTypeOfSurvey "
                                required>
                                <option hidden value="">---Select---</option>
                            </select>
                            <p class="text-error" data-ng-show="(form.InternalForm.submitted && form.InternalForm.TYPEOFSURVEY.$invalid) || (form.InternalForm.TYPEOFSURVEY.$touched && form.InternalForm.TYPEOFSURVEY.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select type of survey</p>
                        </div>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label for="pwd" required>Appointment Date</label>
                        <div class="input-group date">
    
                            <input name="DATEANDTIMEOFAPPOINTMENT" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}" ng-class="{'submitted':form.InternalForm.submitted}" which-date="lossDate"  maxlength="10" type='text' class="form-control datetimepickerappointdate input-sm" date-picker for-date-calendar ng-model="Internal.DATEANDTIMEOFAPPOINTMENT"
                                max={{Internal.DATEOFEXPIRY | date: 'yyyy-MM-dd'}} required />
                            <span class="input-group-addon ">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
    
                        <p class="text-error" data-ng-show="(form.InternalForm.submitted && form.InternalForm.DATEANDTIMEOFAPPOINTMENT.$invalid) || (form.InternalForm.DATEANDTIMEOFAPPOINTMENT.$touched && form.InternalForm.DATEANDTIMEOFAPPOINTMENT.$invalid)">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select appointment date</p>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label>License No.</label>
                        <div>
                            <input type="text" for-alpha-numeric class="form-control" ng-model="Internal.LICENSENUMBER">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label>Surveyor Category</label>
                        <div>
                            <select class="form-control" ng-model="Internal.SURVEYORCATEGORY">
                                <option  value="">---Select---</option>
                                <option value="Associate">Associate</option>
                                <option value="Fellow">Fellow</option>
                                <option value="Licentiate">Licentiate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="pwd">Expiry Date</label>
                        <!-- <div>
                            <input type="date" class="form-control" ng-model="Internal.DATEOFEXPIRY">
    
                        </div> -->
                        <div class="input-group date">
    
                            <input type='text' class="form-control input-sm" maxlength="10" date-picker for-date-calendar ng-model="Internal.DATEOFEXPIRY" disabled />
                            <span class="input-group-addon " >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
    
                    <div class="form-group col-sm-2 justify-self envelop-align">
                        <div>
                            <a href="#pendingModal" data-toggle="modal" ng-click="fetchPendingJobs(Internal.NAME,'Internal',Internal.RESOURCEMASTERID)">
                                Pending Jobs
                            </a>
                            <a ng-hide="true" id="reportGen">reportGen</a>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 justify-self envelop-align">
                        <div>
                            <a ng-href="{{videoStreamingURL}}" target="_blank">Video Streaming</a>
                        </div>
                    </div>
                    <div class="form-group justify-self slight-margin-top">
                        <div>
                            <button type="button" ng-disabled="isReadOnly" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Add</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-sm-12">
                        <div>
                            <button type="button" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Save</button>
                        </div>
                    </div>
                </div> -->
                </fieldset>
                </fieldset>
            </form>
        </div>
        <div id="External" ng-show="showForm=='External'">
            <form name="form.ExternalForm" autocomplete="off">
                <fieldset ng-disabled="claimSummary.CLAIMSTATUS == 'Closed' || claimSummary.CLAIMSTATUS == 'Suspended'">
                        <fieldset ng-disabled="isReadOnly"> 
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label required>Name</label>
                        <div>
                            <input name="NAME" type="text" for-alpha-numeric ng-class="{'submitted':form.ExternalForm.submitted}" class="form-control" ng-model="External.NAME"
                                typeahead="nameItem.id as nameItem.AdjustorNameSearchOutput for nameItem in searchItems | filter:$viewValue | limitTo:10"
                                typeahead-on-select="onSelected($item, $model, $label,'AdjustorAppointmentExternal')" ng-keyup="updateItems('AdjustorAppointmentExternal')"
                                required />
                            <p class="text-error" data-ng-show="(form.ExternalForm.submitted && form.ExternalForm.NAME.$invalid) || (form.ExternalForm.NAME.$touched && form.ExternalForm.NAME.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid name</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label required>Type of Survey</label>
                        <div>
                            <select name="survey" class="form-control" ng-model="External.TYPEOFSURVEY" ng-class="{'submitted':form.ExternalForm.submitted}" ng-options="item as item for item in adjustorTypeOfSurvey "
                                required>
                                <option  value="">---Select---</option>
                            </select>
                            <p class="text-error" data-ng-show="(form.ExternalForm.submitted && form.ExternalForm.survey.$invalid) || (form.ExternalForm.survey.$touched && form.ExternalForm.survey.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select type of survey</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label required>Appointment Date</label>
                        <!-- <div>
                            <input type="date" class="form-control" ng-model="External.DATEANDTIMEOFAPPOINTMENT" max="{{External.DATEOFEXPIRY | date:'yyyy-MM-dd'}}"
                                required ng-class="{submitted:form.ExternalForm.submitted}">
                        </div> -->
                        <div class="input-group date">
    
                            <input name="AppDate" type='text' class="form-control input-sm" which-date="lossDate" ng-class="{'submitted':form.ExternalForm.submitted}" maxlength="10" date-picker  for-date-calendar ng-model="External.DATEANDTIMEOFAPPOINTMENT"
                                required max="{{External.DATEOFEXPIRY | date:'yyyy-MM-dd'}}" />
                            <span class="input-group-addon ">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
    
                        <p class="text-error" data-ng-show="(form.ExternalForm.submitted && form.ExternalForm.AppDate.$invalid) || (form.ExternalForm.AppDate.$touched && form.ExternalForm.AppDate.$invalid)">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select date of appointment</p>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label for="claimNo.">License No.</label>
                        <div>
                            <input type="text" for-alpha-numeric class="form-control" ng-model="External.LICENSENUMBER" ng-disabled="showForm=='External'" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label>Surveyor Category</label>
                        <div>
                            <select class="form-control" ng-model="External.SURVEYORCATEGORY" ng-disabled="showForm=='External'">
                                <option hidden value="">---Select---</option>
                                <option value="Associate">Associate</option>
                                <option value="Fellow">Fellow</option>
                                <option value="Licentiate">Licentiate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="pwd">Expiry Date</label>
                        <!-- <div>
                            <input type="date" class="form-control" ng-model="External.DATEOFEXPIRY">
                        </div> -->
                        <div class="input-group date">
    
                            <input type='text' class="form-control input-sm" maxlength="10" date-picker  for-date-calendar ng-model="External.DATEOFEXPIRY" disabled />
                            <span class="input-group-addon "  >
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
    
                    </div>
                    <div class="form-group col-sm-2 justify-self envelop-align">
                        <div>
                            <a href="#pendingModal" data-toggle="modal" ng-click="fetchPendingJobs(External.NAME,'External',External.RESOURCEMASTERID)">
                                Pending Jobs
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 justify-self envelop-align">
                        <div>
                            <a ng-href="{{videoStreamingURL}}" target="_blank">Video Streaming</a>
                        </div>
                    </div>
                    <div class="form-group justify-self slight-margin-top">
                        <div>
                            <button type="button" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Save</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-sm-12">
                        <div>
                            <button type="button" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Save</button>
                        </div>
                        </div>
                </div> -->
                </fieldset>
            </fieldset>
            </form>
        </div>
        <div id="Others" ng-show="showForm=='Others'">
            <form name="form.OthersForm" autocomplete="off">
                <fieldset ng-disabled="claimSummary.CLAIMSTATUS == 'Suspended'">
                     <fieldset ng-disabled="isReadOnly"> 
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label required>Type Of Adjusters</label>
                        <div>
                            <select name="TYPEOFADJUSTORS" class="form-control" ng-class="{'submitted':form.OthersForm.submitted}" ng-model="otherAdjustor.TYPEOFADJUSTOR" required>
    
                                <option hidden value="">---Select---</option>
                                <option value="Doctor">Doctor</option>
                                <option value="Frequent Payee">Frequent Payee</option>
                                <option value="Investigator">Investigator</option>
                                <option value="Lawyer">Lawyer</option>
                                <option value="Recovery Agent">Recovery Agent</option>
                            </select>
                            <p class="text-error" data-ng-show="(form.OthersForm.submitted && form.OthersForm.TYPEOFADJUSTORS.$invalid) || (form.OthersForm.TYPEOFADJUSTORS.$touched && form.OthersForm.TYPEOFADJUSTORS.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select type of adjusters</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label required>Name</label>
                        <div>
                            <input for-alpha-numeric name="NAME" type="text" class="form-control" ng-class="{'submitted':form.OthersForm.submitted}" ng-model="otherAdjustor.NAME" onkeyup="this.value=this.value.replace(/[^\w ]/,'')"
                                typeahead="nameItem.id as nameItem.AdjustorNameSearchOutput for nameItem in searchItems | filter:$viewValue | limitTo:10"
                                typeahead-on-select="onSelected($item, $model, $label,'AdjustorAppointmentOthers')" ng-keyup="updateItems('AdjustorAppointmentOthers')"
                                required/>
                            <p class="text-error" data-ng-show="(form.OthersForm.submitted && form.OthersForm.NAME.$invalid) || (form.OthersForm.NAME.$touched && form.OthersForm.NAME.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Enter valid name</p>
                        </div>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label required>Type of Survey</label>
                        <div>
                            <select name="TYPEOFSURVEY" class="form-control" ng-class="{'submitted':form.OthersForm.submitted}" ng-model="otherAdjustor.TYPEOFSURVEY" ng-options="item as item for item in adjustorTypeOfSurvey "
                                required>
                                <option hidden value="">---Select---</option>
                            </select>
                            <p class="text-error" data-ng-show="(form.OthersForm.submitted && form.OthersForm.TYPEOFSURVEY.$invalid) || (form.OthersForm.TYPEOFSURVEY.$touched && form.OthersForm.TYPEOFSURVEY.$invalid)">
                                <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select type of survey</p>
                        </div>
                    </div>
    
                    <div class="form-group col-sm-3">
                        <label required>Appointment Date</label>
                        <!-- <div>
                            <input name="DATEANDTIMEOFAPPOINTMENT" type="date" class="form-control" ng-model="otherAdjustor.DATEANDTIMEOFAPPOINTMENT"
                                max="{{otherAdjustor.DATEOFEXPIRY | date:'yyyy-MM-dd'}}" required ng-class="{submitted:form.OthersForm.submitted}">
                            
                        </div> -->
                        <div class="input-group date">
    
                            <input type='text' name="DATEANDTIMEOFAPPOINTMENT" which-date="lossDateNotFuture" ng-class="{'submitted':form.OthersForm.submitted}" maxlength="10" class="form-control input-sm" date-picker  for-date-calendar ng-model="otherAdjustor.DATEANDTIMEOFAPPOINTMENT"
                                max="{{otherAdjustor.DATEOFEXPIRY | date:'yyyy-MM-dd'}}" required />
                            <span class="input-group-addon ">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
    
                        <p class="text-error" data-ng-show="(form.OthersForm.submitted && form.OthersForm.DATEANDTIMEOFAPPOINTMENT.$invalid) || (form.OthersForm.DATEANDTIMEOFAPPOINTMENT.$touched && form.OthersForm.DATEANDTIMEOFAPPOINTMENT.$invalid)">
                            <span class="glyphicon glyphicon-warning-sign incorrect"></span>Select date of appointment</p>
                    </div>
                </div>
                <div class="row">
    
                    <div class="form-group col-sm-3">
                        <label>Type Of Speciality</label>
                        <div>
                            <input type="text" class="form-control" readonly ng-model="otherAdjustor.TYPEOFSPECIALITY">
                        </div>
                    </div>
    
                    <div class="checkbox col-sm-3 justify-self">
                        <label class="checkboxContainer"> Is It For OD or PA?
                            <input type="checkbox"  ng-model="otherAdjustor.ODORPA" ng-true-value="'true'" ng-false-value="'false'" ng-init="otherAdjustor.ODORPA='false'">
                            <span class="checkboxCheckmark"></span>
                        </label>
                    </div>
                    <div class="form-group col-sm-3 justify-self envelop-align">
                        <div>
                            <a ng-href="{{videoStreamingURL}}" target="_blank">Video Streaming</a>
                        </div>
                    </div>
                    <div class="form-group justify-self slight-margin-top">
                        <div>
                            <button type="button" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Save</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-sm-12">
                        <div>
                            <button type="button" ng-click="addAdjustorAppointmentDetails();" class="common-button first-button btn-right">Save</button>
                        </div>
                    </div>
                </div> -->
                </fieldset>
                </fieldset>
            </form>
        </div>
    </div>
    <div>
        <!--  <p>
            <a ng-click="showWaiveAdjustor==false? showWaiveAdjustor=true : showWaiveAdjustor=false">
                Waive Adjustor
            </a>
        </p> -->
        <div class="table-responsive col-sm-12 scrollbar force-overflow style-4">
    
            <table class="table table-bordered table-striped custom-table">
                <thead class="custom-table-header">
    
                <tr>
                    <th>
                        S.No.	    
                    </th>
                    <th>
                        Adjuster Type
                    </th>
    
                    <th>
                        Name
                    </th>
                    <th>
                        Type of Survey
                    </th>
                    <th>
                        Appointment Date
                    </th>
                    <th>
                        Expiry Date
                    </th>
    
                    <th>
                        Surveyor Category
                    </th>
    
                    <th>
                        Report Submission
                    </th>
    
                    <th>
                        Type Of Speciality
                    </th>
    
                    <th>
                        Adjuster Waived
                    </th>
    
                    <th>
                        Reason For Waiver
                    </th>
                    <th>
                        Final Adjuster
                    </th>
                    <th>
                        Resend Notification
                    </th>
                    <th>
                        more..
                    </th>
    
                </tr>
                </thead>
                <tr ng-repeat="x in adjustorAppointmentArray">
                    <td>{{$index+1}}</td>
                    <td>{{x.ADJUSTORTYPE}}</td>
                    <td>
                        <!-- <a ng-click="getResourceNameDetails(x.RESOURCEMASTERID)">{{x.NAME}}</a> -->{{x.NAME}}
                    </td>
                    <td>
                        {{x.TYPEOFSURVEY}}
                    </td>
    
                    <td>
                        {{x.DATEANDTIMEOFAPPOINTMENT | date : 'dd-MM-yyyy hh:mm:ss a'}}
                    </td>
                    <td>
                        {{x.DATEOFEXPIRY | date : 'dd-MM-yyyy'}}
                    </td>
                    <td>
                        {{x.SURVEYORCATEGORY==null?'-':x.SURVEYORCATEGORY}}
                    </td>
                    <td>
                        <div ng-if="x.REPORTSUBMISSION =='Submitted'">
                            <a data-target="#downloadModal" data-toggle="modal" ng-click="getAdjustorSubmissionId(x.ADJREPORTSUBMISSIONID)">
                                {{x.REPORTSUBMISSION}}
                            </a>
                        </div>
                        <div ng-if="x.REPORTSUBMISSION =='Pending'">
                            <a ng-click="fillAdjustorReport(x)"> {{x.REPORTSUBMISSION}} </a>
                        </div>
                        <div ng-if="x.REPORTSUBMISSION =='Removed'">
                            {{x.REPORTSUBMISSION}}
                        </div>
                    </td>
                    <td>
                        {{x.TYPEOFSPECIALITY}}
                    </td>
                    <td>
                        <a ng-class="{'not-active' : x.ADJUSTORWAIVED == 'true'  || isCG6Below}" data-target="#confirmModal" data-toggle="modal" ng-click="copyAdjustorData(x);">
                            Waive Adjuster</a>
                    </td>
                    <td>
                        {{x.REASONFORWAIVER}}
                    </td>
                    <td>
                        <label class="checkboxContainer">
                            <input type="checkbox" ng-model="x.FINALADJUSTOR" name="adjustorFinal" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="!((x.REPORTSUBMISSION =='Submitted')||(x.ADJUSTORTYPE=='Internal'))||(x.REPORTSUBMISSION =='Removed')||(IsFinalReport == $index) || isReadOnly"
                                data-target="#FinalAdjustorModal" data-toggle="modal"  data-backdrop="static" ng-click="copyAdjustorData(x);" ng-checked="x.FINALADJUSTOR=='true'">
                            <span class="checkboxCheckmark"></span>
                        </label>
                    </td>
                    <td>
                        <a ng-click="resendAdjustorMail(x.RESOURCEMASTERID)">Send Mail</a>
                    </td>
                    <td>
                        <a ng-click="getResourceNameDetails(x.RESOURCEMASTERID)">more..</a>
                    </td>
                </tr>
    
                <tr ng-show="adjustorAppointmentArray == undefined ||adjustorAppointmentArray.length == 0" class="text-center">
                    <td colspan="14">No records found !!</td>
                </tr>
            </table>
    
        </div>
    </div>
    
    
    
    <div class="modal fade" id="pendingModal" tabindex="-1 " role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel ">Pending Details</h4>
                </div>
    
                <div class="modal-body style-4 table-responsive" style="max-height:500px">
                        <fieldset ng-disabled="isReadOnly">  
                    <table class="table table-bordered table-striped custom-table">
                        <thead class="custom-table-header">
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                 Claim number
                            </th>
    
                            <th>
                                 Insured Name
                            </th>
    
                            <th>
                                 Date Of Loss
                            </th>
    
                            <th>
                                 Date Of Appointment
                            </th>
    
                            <th>
                                 Policy Number
                            </th>
    
                            <th>
                                 OS Indemnity Reserve
                            </th>
    
                            <th>
                                 Garage Name
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in pendingJobArray">
                            <td>{{$index+1}}</td>
                            <td>{{x.CLAIMNUMBER}}</td>
                            <td>
                                {{x.INSUREDNAME}}
                            </td>
                            <td>
                                {{x.DATEOFLOSS | date : 'dd-MM-yyyy'}}
                            </td>
    
                            <td>
                                {{x.DATEANDTIMEOFAPPOINTMENT | date : 'dd-MM-yyyy h:mm:ss a'}}
                            </td>
                            <td>
                                {{x.POLICYNUMBER}}
                            </td>
                            <td>
                                {{x.RESERVEAMOUNT}}
                            </td>
                            <td>
                                {{x.GARAGENAME}}
                            </td>
                            
                        </tr>
                        <tr ng-show="pendingJobArray == undefined || pendingJobArray.length == 0" class="text-center">
                            <td colspan="8">No records found !!</td>
                        </tr>
                        
                        </tbody>
                    </table>
                    </fieldset>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="common-button  first-button" ng-show="pendingJobArray.length>0"
                        ng-click="downloadPendingJobs()">Export EXCEL
                        <span class="glyphicon glyphicon-download"></span>
                    </button>
                    <button type="button" class="common-button" data-dismiss="modal">Close</button>
                    <a id="reportGenPending" href="#" hidden>Download</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="resourceModal" tabindex="-1 " role="dialog" aria-labelledby="resourceModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="resourceModal ">Resource Details</h4>
                </div>
    
                <div class="modal-body style-4 table-responsive">
                    <fieldset ng-disabled="isReadOnly">  
                    <div class="col-xs-12 force-overflow style-4" style="max-height:500px">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Resource Type</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].RESOURCETYPE}}" ng-model="resourceName[0].RESOURCETYPE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label> Address Line 1</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].ADDRESSLINE1}}" ng-model="resourceName[0].ADDRESSLINE1" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label> Address Line 2</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].ADDRESSLINE2}}" ng-model="resourceName[0].ADDRESSLINE2" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label> Address Line 3</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].ADDRESSLINE3}}" ng-model="resourceName[0].ADDRESSLINE3" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>City</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].CITY}}" ng-model="resourceName[0].CITY" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>District</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].DISTRICT}}" ng-model="resourceName[0].DISTRICT" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>State</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].STATE}}" ng-model="resourceName[0].STATE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Pincode</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].PINCODE}}" ng-model="resourceName[0].PINCODE" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Pan</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].PAN}}" ng-model="resourceName[0].PAN" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Aadhar</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].AADHAR}}" ng-model="resourceName[0].AADHAR" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>GSTIN</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].GSTIN}}" ng-model="resourceName[0].GSTIN" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>License Number</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].LICENSENUMBER}}" ng-model="resourceName[0].LICENSENUMBER" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>License Registration Date</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].LICENSEREGISTRATIONDATE}}" ng-model="resourceName[0].LICENSEREGISTRATIONDATE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>License Expiry Date</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].LICENSEEXPIRYDATE}}" ng-model="resourceName[0].LICENSEEXPIRYDATE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Mobile No.</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].MOBILENUMBER}}" ng-model="resourceName[0].MOBILENUMBER" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Landline No.</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].LANDLINENUMBER}}" ng-model="resourceName[0].LANDLINENUMBER" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Email ID 1</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].EMAILID1}}" ng-model="resourceName[0].EMAILID1" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Email ID 2</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].EMAILID2}}" ng-model="resourceName[0].EMAILID2" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>TDS Type</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].TDSTYPE}}" ng-model="resourceName[0].TDSTYPE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Differentiate TDS</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].DIFFERENTIATETDS}}" ng-model="resourceName[0].DIFFERENTIATETDS" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Type Of Vehicle</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].TYPEOFVEHICLE}}" ng-model="resourceName[0].TYPEOFVEHICLE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Details</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKDETAILS}}" ng-model="resourceName[0].BANKDETAILS" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>IFSC Code</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].IFSCCODE}}" ng-model="resourceName[0].IFSCCODE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Name</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKNAME}}" ng-model="resourceName[0].BANKNAME" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Bank City</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKCITY}}" ng-model="resourceName[0].BANKCITY" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Address 1</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKADDRESS1}}" ng-model="resourceName[0].BANKADDRESS1" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Address 2</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKADDRESS2}}" ng-model="resourceName[0].BANKADDRESS2" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Address 3</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKADDRESS3}}" ng-model="resourceName[0].BANKADDRESS3" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Branch</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BRANCH}}" ng-model="resourceName[0].BRANCH" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Branch City</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BRANCHCITY}}" ng-model="resourceName[0].BRANCHCITY" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank District</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKDISTRICT}}" ng-model="resourceName[0].BANKDISTRICT" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank State</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKSTATE}}" ng-model="resourceName[0].BANKSTATE" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Bank Pincode</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKPINCODE}}" ng-model="resourceName[0].BANKPINCODE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Bank Account No.</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].BANKACCOUNTNUMBER}}" ng-model="resourceName[0].BANKACCOUNTNUMBER" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Account Type</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].ACCOUNTTYPE}}" ng-model="resourceName[0].ACCOUNTTYPE" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Active</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].ACTIVE}}" ng-model="resourceName[0].ACTIVE" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Upload Document Type</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].UPLOAD}}" ng-model="resourceName[0].UPLOAD" disabled />
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>LOB and Category Mapping</label>
                                <div>
                                    <input type="text" class="form-control input-group input-sm" title="{{resourceName[0].LOBANDCATEGORYMAPPING}}" ng-model="resourceName[0].LOBANDCATEGORYMAPPING" disabled />
                                </div>
                            </div>
                        </div>
    
                    </div>
                    </fieldset>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="employeeModal" tabindex="-1 " role="dialog" aria-labelledby="employeeModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="employeeModal">Employee Details</h4>
                </div>
    
                <div class="modal-body style-4 table-responsive">
                        <fieldset ng-disabled="isReadOnly">  
                    <div class="col-xs-12 force-overflow style-4">
                            <table class="table table-bordered table-striped custom-table">
                                <thead class="custom-table-header">
                                    <tr>
                                        <th>S.No.</th>
                                        <th>NTID/USERID</th>
                                        <th>Username</th>
                                        <th>Mobile No.</th>
                                        <th>Branch</th>
                                        <th>Zone Name</th>
                                        <th>Settlement Office</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr ng-repeat="em in employeeName">
                                        <td>{{$index+1}}</td>
                                        <td>{{em.NTID}}</td>
                                        <td>{{em.USERNAME}}</td>
                                        <td>{{em.MOBILENUMBER}}</td>
                                        <td>{{em.BRANCH}}</td>
                                        <td>{{em.ZONENAME}}</td>
                                        <td>{{em.SETTLEMENTOFFICENAME}}</td>
                                    </tr>
                                    <tr ng-show="employeeName == undefined || employeeName.length == 0" class="text-center">
                                            <td colspan="7">No records found !!</td>
                                        </tr>
                                </tbody>
                        </table>
    
                    </div>
                 </fieldset>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="downloadModal" tabindex="-1 " role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel ">Download Report</h4>
                </div>
                <div class="modal-body style-4">
                        <fieldset ng-disabled="isReadOnly">  
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4 col-sm-6">
                            <label required>Type Of Permit</label>
                            <div>
                                <select class="form-control" data-ng-model="downloadFormat">
                                    <option value="">---Select---</option>
                                    <option value="pdf">PDF</option>
                                    <option value="xls">XLS</option>
                                    <option value="doc">DOC</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" ng-click="getAdjustorReport(downloadFormat,submissionId)"> Download </button>
                    <button type="button" class="common-button" data-dismiss="modal"> Close </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="confirmModal" tabindex="-1 " role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel ">Confirm</h4>
                </div>
                <div class="modal-body style-4">
                        <fieldset ng-disabled="isReadOnly">  
                    <form name="form.reasonForm">
                        <fieldset ng-disabled="claimSummary.CLAIMSTATUS == 'Closed' || claimSummary.CLAIMSTATUS == 'Suspended'">
                        <div class="form-group">
                            <label required>Reason For Waiver</label>
                            <div>
                                <input name="adjstAppmntReasonofWaiver" type="text" maxlength="50" class="form-control" ng-model="updateAdjustor.REASONFORWAIVER"
                                    required>
                                <p class="text-error" data-ng-show="(form.reasonForm.adjstAppmntReasonofWaiver.$touched && form.reasonForm.adjstAppmntReasonofWaiver.$invalid) || (form.reasonForm.submitted && form.reasonForm.adjstAppmntReasonofWaiver.$invalid)">
                                    <span class="glyphicon glyphicon-warning-sign incorrect"></span>Please Enter Reason</p>
                            </div>
                        </div>
                        </fieldset>
                    </form>
                    </fieldset>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" ng-click="updateAdjustorDetails('Yes')">Yes</button>
                    <button type="button" class="common-button" ng-click="updateAdjustorDetails('No')" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="FinalAdjustorModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="adjustorAppointmentArray[SelectedIndex].FINALADJUSTOR = 'false'">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                       
                    <p>Do you want to proceed with the current report as a Final report</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="common-button first-button" ng-click="updateFinalAdjustor($event,updateAdjustor)" data-dismiss="modal">Yes</button>
                    <button type="button" class="common-button" ng-click="adjustorAppointmentArray[SelectedIndex].FINALADJUSTOR = 'false'" data-dismiss="modal">No</button>
                </div>
            </div>
    
        </div>
    </div>
    